extends ../layout/default
block vars
  - var bodyClass = 'news'
  - var title = 'В «Urban Space 100» триває набір персоналу. Вже відомо, хто став керівником закладу'

block content
  section.news-item
    .date
      time
        | 07
        span лис
    article
      h5 В «Urban Space 100» триває набір персоналу. Вже відомо, хто став керівником закладу
      figure
        img(src="/assets/news-item.png", alt="news-item")
      p 23 — саме стільки вакансій відкрито в «Urban Space 100»: офіціанти, бармени, кухарі на гарячу та холодну зони та менеджери.
      p Керівником першого громадського ресторану України обрано Наталю Бунь, яка до того працювала керівником кав’ярні «Говорить Івано-Франківськ».
      p Три роки тому Наталя покинула роботу касира в банку і влаштувалась офіціантом у кав'ярню в центрі Івано-Франківська. Пройшло трохи часу – і вона стала менеджером. Пізніше – керівником цієї ж кав'ярні. "Я не люблю працювати з цифрами, я хочу працювати з людьми", —  говорить Наталя Бунь.
      p 
        | Бажаєте працювати в «Urban Space 100»? Тоді надсилайте заявку за посиланням 
        a(href="http://www.23.ua") www.23.ua
      p «Urban Space 100» – це спільний проект середовища «Тепле Місто» і компанії «23 ресторани». Унікальність проекту полягає в тому, що прибуток ресторану направляється винятково на реалізацію громадських проектів міста. А засновниками є 100 соціально активних людей, що об’єднані ідеєю якісного розвитку міського простору.
