extends ../layout/default
block vars
  - var bodyClass = 'news'
  - var title = 'Перший грант і перша нагорода'

block content
  section.news-item
    .date
      time
        | 08
        span груд
    article
      h5 Перший грант і перша нагорода
      
      p 
        b «Тепле Місто» отримало грант на участь у Форумі з організаційного розвитку 
        | – масштабній події для громадських організацій, яка проходить щороку у Києві.
        
      p Форум об’єднує членів й організаторів благодійних і громадських організацій, які знайомляться між собою, презентують свої проекти, діляться досвідом і досягненнями, беруть участь у дискусіях задля спільного вирішення питань з важливості функціонування та розвитку фондів громад у сучасній Україні.
      figure
        img(src="/assets/news/0812/photo1.jpg", alt="news-item")
      p 
        | Високу важливість події підкреслюють запрошені гості, які відкривали Форум цього року: вже знайомий нам Посол ЄС в Україні, 
        b Ян Томбінські
        |, Директор Місії Агентства США з міжнародного розвитку (USAID) в Україні, Білорусі і Молдові, 
        b Джед Бартон
        |, посол Швеції в Україні, 
        b Андреас фон Бекерат
        | , економіст, громадський діяч, 
        b Богдан Гаврилишин
        |.
      p 
        | Понад 
        b 860&nbsp; 
        | учасників з різних куточків України, а також Німеччини, Словаччини, Польщі, Грузії, Вірменії, Молдови відвідали Форум цього року.
      
      p Форум з організаційного розвитку відбувається у дуже активному форматі. Це різноманітні майданчики, де розташовуються ярмарки і виставки, здійснюються зустрічі з потенційними українськими і міжнародними донорами, відбуваються стратегічні сесії та обговорення.
      figure
        img(src="/assets/news/0812/photo2.jpg", alt="news-item")
        p Євген Глібовицький модерує сесію "Цінності громадянського суспільства" за участі Валерія Пекаря, Богдана Гаврилишина, Євгена Бистрицького і Лариси Денисенко
      p 
        | «Тепле Місто» було одним з найактивніших учасників Форуму. Ми презентували «історію успіху» на виставці кращих проектів «Живі історії громадського руху» на тему: 
        b «Об’єднання громади: від нуля до Каннської нагороди»
        |. Також брали участь у дискусійній сесії «Українська кав’ярня», де ділилися досвідом і дискутували на тему 
        b «Соціальні ініціативи: як зацікавити бізнес»
        |. Крім того, громадський ресторан 
        b UrbanSpace 100 пригощав всіх кавою&nbsp; 
        | під час події, наочно демонструючи ідею проекту.
      figure
        img(src="/assets/news/0812/photo3.jpg", alt="news-item")
        img(src="/assets/news/0812/photo4.jpg", alt="news-item")
        img(src="/assets/news/0812/photo5.jpg", alt="news-item")
        img(src="/assets/news/0812/photo6.jpg", alt="news-item")
      p 
        b За таку активність та за проривні ідеї проектів ми отримали нашу першу нагороду&nbsp; 
        | – дизайнерську тарілку-відзнаку Форуму з організаційного розвитку!
      
      p.right
        span.st_facebook_large(displayText='Facebook')
        span.st_twitter_large(displayText='Tweet')
        span.st_vkontakte_large(displayText='Vkontakte')
        span.st_googleplus_large(displayText='Google +')
                          
                              
                                
