extends ../layout/default
block vars
  - var bodyClass = 'news'
  - var title = 'Аналіз вивісок на вулиці Січових Стрільців'
  
block content
  section.news-item
    .date
      time
        | 17
      span лис
    article
      h5 Аналіз вивісок на вулиці Січових Стрільців
      
      p Початком вирішення будь-якої проблеми є її усвідомлення.
      p Однією із проблем нашого міста є надмірна та часто недоречна зовнішня реклама, яку власники бізнесів помилково вважають вивісками. 
      p Тепле Місто вирішило дослідити ситуацію із вивісками в Івано-Франківську. Аналіз розпочали із однієї з центральних вулиць міста – Січових Стрільців. Вона завантажена зовнішньою рекламою, проте і на ній зустрічаються досить непогані приклади фасадів. 
      p Ми навмисно не аналізуємо однозначно погані та незаконні варіанти, – лише ті, які навіть при мінімальному вдосконаленні можна вважати хорошим прикладом для середмістя Івано-Франківська.
      p Фото та аналітику робив дизайнер Теплого Міста, що працює за напрямом «Вивіски» – Василь Гошовський. Василь зробив оцінку «плюсів» та «мінусів» обраних варіантів, а також надав рекомендації щодо того, як покращити зовнішній вигляд фасаду, на якому розташована вивіска, щоб він відповідав гайдлайнам. В своїх пропозиціях ми дотримуємось архітектурно-художньої концепції зовнішнього вигляду вулиць, яку у вигляді правил та рекомендацій в рамках кампанії з розробки візуального стилю міста нам надала компанія Aimbulance (м.Київ).
      
      h6 Майстерня української вишивки «Любава»
      figure
        img(src="/assets/news/1712/9.jpg", alt="news-item")
        img(src="/assets/news/1712/10.jpg", alt="news-item")
      p Один з проектів «Теплого Міста», розроблений дизайнерами Микитою Грачем та Юрієм Сиваком. Набільшим порушенням норм в даному випадку є гігантські розміри вивіски і навісних конструкцій які закривають собою значну частину архітектури будинку. Було заропоновано зробити вивіску та кронштейн з дерева, що гармонійно вписуються в архітектуру а також своєю природністю доповнюють атмосферу закладу.
      p На даний момент проект не реалізований замовником.
      p Варто відзначити, що, згідно рекомендацій дизайнерів, майстерня перестала користуватись захисними ролетами, в наслідок чого вітрина набула привабливішого вигляду.
      
      h6 Магазин «Центр шкіри»
      figure
        img(src="/assets/news/1712/1.jpg", alt="news-item")
      p 
        | Плюси:
        ul
          li Відремонтований, охайний фасад будинку.
          li Правильна, акуратна основна вивіска.
          
      p 
        | Мінуси:
        ul
          li Повністю закрите баннером вікно.
          li Пластикова вивіска-кронштейн у форматі «лайт-бокс».
          li Манекени винесені на тротуар.
          li Неакуратні в три поверхи закладені вітрини.
          
      p 
        | Зміни які потрібно зробити, щоб фасад відповідав гайдлайнам візуального стилю Івано-Франківська:
        ol
          li Змінити пластиковий кронштейн і зробити його в одному стилі з основною вивіскою
          li Прибрати баннер з вікна.
          li Забрати манекени з вулиці.
          li Привести в порядок вітрини.
          
      h6 Магазин «Kablook»
      figure
        img(src="/assets/news/1712/6.jpg", alt="news-item")
      p 
        | Плюси:
        ul
          li Акуратна вітрина.
          li Хороший логотип.
          li Розмір вивісок.      
      p 
        | Мінуси:
        ul
          li Металопластикові двері та вікно.
          li Пластикова вивіска.

      p 
        | Що потрібно змінити, щоб фасад даного будинку набув належного вигляду та відповідав гайдлайнам візуального стилю Івано-Франківська:
        
        ol
          li Змінити двері та вікно на древ'яні.
          li Змінити пластикову вивіску на вивіску з натуральних матеріалів згідно гайдлайнів.
      
      h6 Заклад громадського харчування «PIZZA Azteca»
      figure
        img(src="/assets/news/1712/2.jpg", alt="news-item")
      p 
        | Плюси:
        ul
          li Дерев’яні вікна і двері, які гармонійно вписуються в фасад будинку.
          li Вивіска в вигляді об'ємних літер на фасаді.
          li Площа зображення на склі вітрини не перевищує норму (20 %).
      p 
        | Мінуси:
        ul
          li Пластиковий дашок.
          li Матеріал та софтбоксовий формат виготовлення вивісок кронштейнів, який не відповідає гайдлайнам та стилю архітектури даного будинку, а також зайві вивіски.
          li Плакати на склі дверей.
          li Кондиціонер.
          li Фасад потребує реставрації.
        
      p 
        | Що потрібно змінити, щоб фасад даного будинку набув належного вигляду та відповідав гайдлайнам візуального стилю Івано-Франківська:  
        ol
          li Демонтувати пластиковий дашок.
          li Відреставрувати фасад будинку (бажано з заміною білих металопластикових вікон на наступних поверхах на дерев'яні).
          li Зробити основну вивіску з натуральних матеріалів.
          li Змінити вивіску кронштейн на вивіску з натуральних матеріалів.
          li Демонтувати зайві вивіски.
          li Очистити від плакатів скло в дверях.      

      h6 Магазин «Baby Boom»

      figure
        img(src="/assets/news/1712/11.jpg", alt="news-item")
      p 
        | Плюси:
        ul
          li На фоні більшості будинків не надто «забитий» неправильними вивісками.
      p 
        | Мінуси:
        ul
          li Пластикові вивіски у форматі «лайт-бокс».
          li Недоречний в даному випадку, хоч і правильний за форм-фактором дашок, так як він не гармоніює з фасадом даного будинку, до того ж зверху є балкон який може виконувати ту ж функцію.
          
      p 
        | Що потрібно змінити, щоб фасад даного будинку набув належного вигляду та відповідав гайдлайнам візуального стилю Івано-Франківська:  
        ol
          li Поміняти пластикові вивіски на вивіски з природніх матеріалів згідно гайдлайнів.
          li Демонтувати дашок.      

      h6 АПТЕКА
      
      figure
        img(src="/assets/news/1712/5.jpg", alt="news-item")
      p 
        | Плюси:
        ul
          li Виглядає краще на фоні інших аптек.
          li Вивіска з об'ємних літер.
          li Пандус.
      p 
        | Мінуси:
        ul
          li Металопластикові двері та вікно.
          li Невідповідний матеріал та розмір вивіски.
          li Поганий стан фасаду.
          li Кондиціонер.
          li Страшний смітник.
        
      p 
        | Що потрібно змінити, щоб фасад даного будинку набув належного вигляду та відповідав гайдлайнам візуального стилю Івано-Франківська:  
        ol
          li Поміняти металопластикові двері та вікно на дерев'яні.
          li Зробии вивіску з натуральних матеріалів та меншого розміру.
          li Відреставрувати фасад.
          li Демонтувати кондиціонер.
          li Змінити смітник.                  

      h6 Редакція газети «Галичина» та «Спілка журналістів»
      
      figure
        img(src="/assets/news/1712/4.jpg", alt="news-item")
      p 
        | Плюси:
        ul
          li На тлі більшості будинків не надто «забитий» неправильними вивісками.
          li Спеціальне місце для вивісок на фасаді.
      p 
        | Мінуси:
        ul
          li Пластикові вікна та двері.
          li Грати на вікнах.
          li Пластикові таблички.
          li Обклеєна оголошеннями водостічна труба.
          li Вандальний напис на фасаді.
          
      p 
        | Що потрібно змінити, щоб фасад даного будинку набув належного вигляду та відповідав гайдлайнам візуального стилю Івано-Франківська:  
        ol
          li Замінити вікна та двері на дерев'яні та демонтувати грати.
          li Замінити пластикові таблички на таблички з натуральних матеріалів.
          li Почистити водостічну трубу та фасад будинку.  

      h6 Стоматологічний центр «КАРІО»
      
      figure
        img(src="/assets/news/1712/3.jpg", alt="news-item")
      p 
        | Плюси:
        ul
          li На фоні більшості будинків не надто «забитий» неправильними вивісками.
          
      p 
        | Мінуси:
        ul
          li Брудний та обклеїний оголошеннями фасад.
          li Пластикова вивіска.
          li Пластикові вікна і двері.
          li Захисні ролети.
          
      p 
        | Що потрібно змінити, щоб фасад даного будинку набув належного вигляду та відповідав гайдлайнам візуального стилю Івано-Франківська:  
        ol
          li Очистити фасад.
          li Замінити вікна і двері на дерев’яні, бажано відреставрувати або зробити копію первісних дверей.
          li Змінити вивіску з натуральних матеріалів відповідно до гайдлайнів.
          li Зняти захисні ролети. 
      
      figure
        img(src="/assets/news/1712/8.jpg", alt="news-item")
        p 
          | Справжній раритет, один з яскравих прикладів&nbsp;
          a(href="http://www.nazovni.org.ua/firmenschild/") фірменшильдів 
          | &nbsp;на фасаді старого польського будинку. Фірменшильд — це спеціально відведене місце під вивіску на фасаді будинку, яке проектується архітектором ще на початку проектування фасаду, правильно виконана вивіска, в даному випадку розписом по тиньку яка розміщена на Фірменшильді стає окрасою і невідємною частиною фасаду.
        
      p.right
        span.st_facebook_large(displayText='Facebook')
        span.st_twitter_large(displayText='Tweet')
        span.st_vkontakte_large(displayText='Vkontakte')
        span.st_googleplus_large(displayText='Google +')
                      
