extends ../layout/default
block vars
  - var bodyClass = 'news'
  - var title = '18 листопада Тепле Місто презентувало Арт-резиденцію у Івано-Франківську'
  
block content
  section.news-item
    .date
      time
        | 07
        span лис
    article
      h5 18 листопада Тепле Місто презентувало Арт-резиденцію у Івано-Франківську

      p «Тепле Місто» представляє проект Арт-резиденції у Івано-Франківську, концептуальну ідею, покликану розширити межі культурного діалогу, що відбувається в середовищі міського простору. Резиденція стане платформою спілкування між світовими та українськими художниками, буде розвивати дискусії у форматі: художник-художник, художник-глядач, художник-простір, простір-глядач. Поряд з тим, це спроба спровокувати естетичну зміну ландшафтів відкритого простору з дотриманням сучасних світових традиції.
      p Арт-резиденція передбачає запрошення художника світового рівня на тимчасове проживання до Івано-Франківська, до 60 днів, під час якого художник знайомиться з унікальністю топосу, урбаністичним ландшафтом, культурними складовими міста і створює арт-об’єкт у відкритому просторі. Таким чином, Арт-резиденція сповідує ідею виходу мистецтва за межі галереї, у відкрите середовище. Мистецькі проекти, котрі надаються для такої ідеї, пов’язані з архітектурою, скульптурою, стріт-артом, настінним живописом, саме з такими техніками буде пов’язана робота резидента.
      p Під час свого перебування в Івано-Франківську резидент проведе відкриті зустрічі, воркшопи, майстер-класи. Мета його перебування – це відкритий діалог про мистецтво та ті завдання, які воно виконує у ХХІ столітті на етапі інформаційного та смислового поступу. Участь в такому «відкритому діалозі» можуть взяти не лише художники, але всі бажаючі. В сучасному світі мистецьке середовище апелює до питань, котрі торкаються кожної людини. Художники формулюють питання сучасності у своїх арт-роботах, інсталяціях, геппенінгах, і в такий спосіб по-інакшому, через призму образних символів, говорять про актуальні та дочасні теми.
      p Участь іноземного художника високого рівня, котрий стає резидентом, передбачає формат розмови, що передбачає складову національної самоідентичності та викликів, які ставить перед сучасним суспільством сьогоднішній світ.
      
      p Куратором арт-резиденції став молодий український художник Євген Самборський, лауреат Першої спеціальної премії Pinchuk Art Prize 2013, нагороди Молодим Українським Художникам 2012, стипендіат першої київської резиденції для молодих художників Kyiv AIR.
      p Проект представлено в контексті ініціатив, котрі впроваджуються середовищем «Тепле Місто» і спрямовані на розвиток міського середовища.
      figure
        img(src="/assets/news/news41.jpg", alt="news-item")
        img(src="/assets/news/news42.jpg", alt="news-item")
        img(src="/assets/news/news43.jpg", alt="news-item")
        p Проект куратора Арт-редиденції художника Євгена Самборського "Оксамитове ніщо".
      p.right
        span.st_facebook_large(displayText='Facebook')
        span.st_twitter_large(displayText='Tweet')
        span.st_vkontakte_large(displayText='Vkontakte')
        span.st_googleplus_large(displayText='Google +')
                      
