extends ../layout/default
block vars
  - var bodyClass = 'news'
  - var title = 'На Набережній обладнають велодоріжку'

block content
  section.news-item
    .date
      time
        | 22
        span жов
    article
      h5 На Набережній обладнають велодоріжку
      figure
        img(src="/assets/news-item.jpg", alt="news-item")
      p Активісти спільноти “Тепле веломісто” активно лобіюють облаштування першої велодоріжки в Івано-Франківську на вулиці Набережній, де триває капітальний ремонт дороги. Таку пропозицію висунув департамент комунального господарства, транспорту і зв’язку Івано-Франківського міськвиконкому.
      p “Як стало відомо Теплому веломісту, ремонт вул. Набережної ім. Стефаника є капітальним. Він включатиме не лише проїжджу частину, але й тротуари. Ми переконані, що тротуари там треба збагатити велодоріжками”, – кажуть у спільноті.
      p За словами координатора спільноти “Тепле веломісто” ВіктораЗагреби, таку ініціативу в стінах ОДА підтримують і, швидше за все, ближчим часом внесуть зміни до плану ремонтних робіт. Але для цього необхідно пройти ряд формальностей.
      p “Велоактивісти вдячні, що ОДА готова йти назустріч у питанні врахування велосипедного руху на Набережній. Втім, вони закликають замовників та виконавців ремонту приділити максимум зусиль, аби майбутня доріжка була виконана за європейськими стандартами якості і продуманості, а не просто “для галочки”, – зазначає Віктор.
      p Він стверджує, що при потребі активісти готові допомагати у цьому, адже мають професійну літературу, вивчили помилки Києва і Львова, а також мають особистий досвід користування велосипедами в різних містах світу на різній велоінфраструктурі
      
      p.right
        span.st_facebook_large(displayText='Facebook')
        span.st_twitter_large(displayText='Tweet')
        span.st_vkontakte_large(displayText='Vkontakte')
        span.st_googleplus_large(displayText='Google +')
