extends ../layout/default
block vars
  - var bodyClass = 'news'
  - var title = 'Популярні сувеніри з символікою міста вироблятимуть у Івано-Франківську'

block content
  section.news-item
    .date
      time
        | 24
        span жов
    article
      h5 Популярні сувеніри з символікою міста вироблятимуть у Івано-Франківську
      figure
        img(src="/assets/news/news2big.jpg", alt="news-item")
      p В Івано-Франківську відкривається сувенірна фабрика «Буквиця». Тут робитимуться теплі франківські сувеніри, які набули популярності цього літа серед мешканців і гостей міста .
      p Спершу футболки з візуальним стилем замовляли у Києві, але завжди хотіли, щоб місцеві сувеніри були зроблені локально.
      p До того ж сувенірна фабрика цілком може стати цікавою атракцією для багатьох людей. Майстерня буде працювати на зразок шоу-рум, куди зможуть приходити бажаючі та подивитися, які робляться сувеніри, як відбувається сам процес, адже більшість роботи – ручна.
      p «Це буде такий теплий, душевний простір, – розповідає Наталя Найда, засновниця «Буквиці». – Усе відкрито, усе можна буде помацати, подивитися, розпитати, взяти участь у майстер-класі. Десь там буде шитися одяг, там ведмедики, там інше. Дуже хочеться зробити Франківськ цікавішим і теплішим для людей, які приїздять до нас у гості».
      p Головне те, що фабрика – це і розвиток локального бізнесу, нові робочі місця, нові міські родзинки. Крім того, певний відсоток з продажів сувенірної продукції з логотипом міста піде на розвиток проектів БО «Тепле місто». «Ми хочемо показати приклад, як локальний бізнес може підтримувати громадську ініціативу, – говорить Наталя. – І кожен, хто купує річ із брендом «Візуального стилю», також долучається до цього».

      p.right
        span.st_facebook_large(displayText='Facebook')
        span.st_twitter_large(displayText='Tweet')
        span.st_vkontakte_large(displayText='Vkontakte')
        span.st_googleplus_large(displayText='Google +')
