extends ../layout/default
block vars
  - var bodyClass = 'news'
  - var title = '25 листопада Середовище «Тепле Місто» разом з партнерами презентували конкурс «Місто дружнє до дітей»'
  
block content
  section.news-item
    .date
      time
        | 25
        span лис
    article
      h5 Середовище «Тепле Місто» разом з партнерами презентували конкурс «Місто дружнє до дітей»
      figure
        img(src="/assets/news/child-logo.png", alt="news-item")
      p «Child-friendly public space» — перший в Івано-Франківську міжнародний архітектурний конкурс. Мета — створити або впорядкувати існуючі громадські простори так, щоб вони були насичені цікавими для дітей функціями. Окрім того, така подія стане хорошим поштовхом для розвитку міста в культурному плані, розповість про нього у світі та підтвердить імідж Івано-Франківська як ідеального для життя міста.
      p До участі в конкурсі запрошуються дипломовані фахівці та студенти напрямів архітектура, ландшафтний дизайн, дизайн архітектурного середовища тощо, які змагатимуться за нагороди 1800, 1200 та 600 € за перше-третє місця відповідно. Конкурсантам пропонується опрацювати одну з п’яти ділянок, кожна з яких має свої переваги та недоліки, розміри та контекст. Щоб іноземним конкурсантам було простіше орієнтуватися в незнайомому для них місті, організатори підготували аналітичний матеріал, який включає в себе опис міста з діаграмами та схемами; SWOT-аналізи ділянок; фотофіксації; детальні креслення територій; витяг з українських нормативних документів, який допоможе розкрити специфіку проектування в Україні.
      p Організатори очікують на сучасні та прогресивні проекти, які вдало інтегруються в історичне міське середовище Івано-Франківська, доповнять його. Спільна мета — розбити шаблонне уявлення про дитячий простір у вигляді дитячого майданчика. Ідеальний проект може бути створено взагалі без використання наземних конструкцій — лише з застосуванням світла, води, вітру тощо. 
      p Конкурс організовано Середовищем «Тепле Місто» спільно з ГО «Мами Прикарпаття» та Департаментом містобудування та архітектури Івано-Франківської міської ради. Окрім того, до роботи долучилися більше десятка небайдужих івано-франківців. 
      p 
        | Дізнатися більше можна на&nbsp;
        a(href="http://www.child-friendly.org/") офіційному сайті конкурсу
        | &nbsp;або на&nbsp;
        a(href="https://www.facebook.com/childfriendlypublicspace") фейсбук-сторінці
      figure
        img(src="/assets/news/kosmos.jpg", alt="news-item")
      p.right
        span.st_facebook_large(displayText='Facebook')
          span.st_twitter_large(displayText='Tweet')
            span.st_vkontakte_large(displayText='Vkontakte')
              span.st_googleplus_large(displayText='Google +')
                  
