doctype html
html(lang="en")
  head
    title Template
    // build:css /assets/app.css
    link(rel="stylesheet", href="/assets/app.css")
    // endbuild

  body
    block content

    // build:js /assets/app.js
    script(src="/assets/app.js")
    // endbuild
