doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    - var title = 'Template'
    block vars
    title
      =title
    link(rel="icon", type="image/png", href="/assets/favicon.png")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,cyrillic-ext")
    // build:css /assets/app.css
    link(rel="stylesheet", href="/assets/tooltipster.css")
    link(rel="stylesheet", href="/assets/app.css")
    // endbuild
  - var bodyClass = '';
  
  block vars
  body(class='#{bodyClass}')
    header
      a(href="/")
        img.logo(src='/assets/logo.png')
      nav
        ul
          li
            a(href="/#projects") проекти
          li
            a(href="/#info") про нас
          li
            a(href="/partners.html") партнери
          li
            a(href="/news.html") новини
          li
            a(href="/publications.html") публікації
          //- li
          //-   a(href="/faq.html") faq
      ul.languages
        li
          a.active(href="#") ua
        //li
        //  a(href="#") en
    block content
    section.contacts
      .container
        .email
          span.icon
          | info@warm.if.ua 

        .adress
          span.icon
          | м. Івано-Франківськ, вул. Тринітарська 11, офіс 9

        .socials
          a.twitter(href="https://twitter.com/WarmCityIF")
            img(src="/assets/icon-twitter.png")
          a.facebook(href="https://www.facebook.com/warmifua")
            img(src="/assets/icon-facebook.png")

    section.footer
      span.made-in Made in Ivano-Frankivsk
      span.warm-city Warm-city 2014
      a.webmil(href='http://webmil.com.ua')
        img(src="/assets/webmil-logo.png")
    script(src="http://maps.googleapis.com/maps/api/js")
    script(src="http://code.jquery.com/jquery-git1.min.js")
    script(src="http://f.vimeocdn.com/js/froogaloop2.min.js")
    script(src="http://w.sharethis.com/button/buttons.js")

    // build:js /assets/app.js
    script(src="/assets/jquery.tooltipster.min.js")
    script(src="/assets/app.js")
    // endbuild
