@import "normalize";
// see http://bourbon.io
@import "bourbon";
// see http://neat.bourbon.io
@import "grid-settings";
@import "neat/neat";

h1 {
  @include image-rendering(optimizeSpeed);
  font-family: $helvetica;
  font-size: golden-ratio(14px,  1);
}
div.container {
  @include outer-container;
}
.element {
  @include span-columns(6);
  @include shift(3);
  text-align: center;
}
