@import "normalize";
// see http://bourbon.io
@import "bourbon";
// see http://neat.bourbon.io
@import "grid-settings";
@import "neat/neat";
html {
  font-family: 'Open Sans', sans-serif;
  background: #e6e6e6;
  min-width: $min-container;
}
body {
  min-width: $min-container;
}
.container { @include outer-container; }
nav ul, .contacts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a.button {
  width: em(182, 14);
  margin: 0 auto;
  height: em(36, 14);
  line-height: em(36, 14);
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: em(14);
  border-radius: 30px;
  &.red { background-color: #ff1e07; }
  &:before {
    display: inline-block;
    margin: 0 7px 0 -7px;
    content: '';
    width: em(10, 14);
    height: em(10, 14);
    background: url('/assets/plus.png') no-repeat center center;
    background-size: cover;

  }
}
/**
* HEADER
*/
header{
  width: 100%;
  min-width: $min-container;
  background-color: rgba(0, 0, 0, 0.4);
  height: em(80);
  position: absolute;
  z-index: 99;
  .logo {
    width: em(63);
    height: em(63);
    margin: em(9) 0 0 em(40);
    float: left;
  }
  nav {
    padding: em(55) 0 0 em(5);
    margin-left: em(103);
    width: em(405);
    li {
      float: left;
      font-size: em(14);
      text-transform: uppercase;
      &.title { padding: 0 em(15); }
    }
  }

  nav li, nav a, ul.languages a {
    color: #fff;
    font-weight: 300;
    line-height: em(25);
  }
  nav a, ul.languages a {
    padding: em(5) em(15);
    text-decoration: none;
  }
  nav a:hover, ul.languages a:hover { background-color:  rgba(255, 255, 255, 0.25); }
  ul.languages {
    float: right;
    list-style-type: none;
    margin:0 em(21) 0 0;
    padding:0;
    li {
      float: left;
      font-size: em(14);
      text-transform: uppercase;
    }
  }
}

.header-image {
  background: url('/assets/photo.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  height: em(810);
  width: 100%;
  min-width: $min-container;
  h1,h2,h3 {
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 1em;
    padding: 0;
  }
  h1 {
    text-transform: uppercase;
    font-size: em(36);
    padding: 3.65em 0 em(11,36) 0;
    &:after {
      content:'';
      display:inline-block;
      position:relative;
      top: em(-28, 36);
      left: em(-8, 36);
      width: em(19, 36);
      height: em(18, 36);
      background: url('/assets/if-logo.png') no-repeat center center;
      background-size: cover;
    }
  }
  h2 {
    font-size: em(19);
    margin-bottom: em(24,19);
  }
  a.button { margin: em(34, 14) auto; }
  h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: em(18);
    padding-bottom: em(19, 18);
  }
  .triangle{
    height: em(30);
    width: 100%;
    min-width: $min-container;

    position: absolute;
    bottom: 0;
    background: url('/assets/triangle.png') no-repeat center center;
    background-size: cover;
  }
}

ul.companies {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: em(941);
  line-height: 0;
  li {
    display: inline-block;
    width: em(94);
    height: em(74);
    background: rgba(255,255,255, 0.5);
    border: 1px solid rgba(0,0,0, 0);
    background-clip: padding-box;

    .content {
      display: table;
      width: em(92);
      height: em(72);
      &.white {
        background: #fff;
        img {
          width: em(92);
          height: em(72);
        }
      }
      &.add img {
        width: em(42);
        height: em(42);
      }
      a {
        vertical-align: middle;
        text-align: center;
        display: table-cell;
      }
    }
  }
}
section { line-height: 1em; }
section.projects h2, section.info h2 {
  @include span-columns(24);
  text-transform: uppercase;
  color: #2c2c2c;
}
/**
* projects
*/
section.projects {
  @include outer-container;
  $mobile: new-breakpoint(max-width 700px 4);
  h2 {
    font-size: em(24);
    line-height: em(24, 24);
    span {
      color:#9d9d9d;
      padding-left: em(5, 24);
      font-size: em(12, 24);
    }
  }
  .project {
    cursor: pointer;
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-size 0.4s ease-in;
    .info {
      visibility:hidden;
      opacity: 0;
      background-color:  rgba(0, 0, 0, 0.73);
      transition-duration: 0.4s;
      @include fill-parent;
    }
    &:hover {
      background-size: 110% 110%;
    }
    &:hover .info {
      visibility:visible;
      opacity:1;
      transition-duration: 0.4s;
    }
  }
  .top-projects {
    // width:100%;
    max-width: $min-container;
    line-height: 0;
    .project {
      height: em(240);
      // width: em(475);
      width: 50%;
      // @include media($mobile) {
      //   width: 100%;
      // }
      .info {
        height: em(240);
        padding: em(29);
        // width: em(475);

        h3 {
          color: #fff;
          font-weight: 700;
          text-transform: uppercase;
          font-size: em(24);
          line-height: em(25, 24);
          width: em(250, 24);
          margin: 0;
          padding: 0;
          float: left;
        }

        img {
          float: right;
          height: em(43);
          width: em(34);
        }
        p {
          clear: both;
          color:  #fff;
          font-size: em(14);
          font-weight: 400;
          line-height: em(18, 14);
          padding-top: em(80, 14);
        }
      }
    }
    .urban-space { background-image: url('/assets/projects/urban-space.jpg'); }
    .city-brand { background-image: url('/assets/projects/city-brand.jpg'); }
    .other { background-image: url('/assets/projects/other.jpg'); }
    .grunvaldska { background-image: url('/assets/projects/grunvaldska.jpg'); }
  }

  .other-projects {
    margin-top: 10px;
    width: 100%;
    min-width: $min-container;
    line-height: 0;

    .project {
      width: em(237);
      height: em(240);
      position: relative;
      .info {
        width: em(237);
        height: em(240);
        display: table;
        h3 {
          color: #fff;
          display: table-cell;
          text-align:center;
          font-size: em(18);

          text-transform: uppercase;
          font-weight: 700;

          vertical-align: middle;
          margin: 0;
          line-height: em(24, 18);
          padding: 0;
        }
      }
    }

    .p1 { background-image: url('/assets/projects/small/p1.jpg'); }
    .p2 { background-image: url('/assets/projects/small/p2.jpg'); }
    .p3 { background-image: url('/assets/projects/small/p3.jpg'); }
    .p4 { background-image: url('/assets/projects/small/p4.jpg'); }
    .p5 { background-image: url('/assets/projects/small/p5.jpg'); }
    .p6 { background-image: url('/assets/projects/small/p6.jpg'); }
  }
}

/**
* map
*/
section.map {
  margin-top: em(80);
  position: relative;
  height: em(405);
  .title {
    font-size: em(14);
    color: #ff1e07;
    padding: em(8, 14) em(40, 14);
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: #fff;
  }
  .content {
    position: relative;
    z-index:999;
    top: em(-405);
    margin: 0 auto;
    max-width: $min-container;
    width: 100%;
    height: em(405);
  }
  #map-container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: em(405);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    min-width: $min-container;
  }
  .list {
    line-height: em(28);
    width: em(310);
    position: relative;
    top: em(-405);
    left: em(315);
    z-index:999;
    list-style-type: none;
    margin: 0 auto;
    padding: em(30) 0;
    background: #fff;

    li {
      color: #737373;
      cursor: pointer;
      position: relative;
      line-height: em(25);
      height: em(25);
      vertical-align: middle;
      margin: em(1) 0;
      padding-left: em(22);
      transition-duration: 0.2s;

      i {
        display: block;
        position: absolute;
        content: ' ';
        left: 0;
        width: em(6);
        height: em(25);
        background: #ff2f13;
        transition-duration: 0.4s;
      }
      &:after {
        display: block;
        position:absolute;
        height: em(13);
        width: em(13);
        top: em(6);
        background: url('/assets/empty.png');
        right: em(30);
        content: ' ';
      }
      &.active:after {
        background: url('/assets/checked.png');
      }
      &:hover {
        background: #f6f6f6;
        i {
          width: em(15);
        }
      }
      &.all {
        margin-bottom: em(20);
        &:before {
          display: none;
          content: none;
        }
        &:hover {
          background: none;
        }
        color: #0c0c0c;
      }
    }

  }
}


/**
* info
*/
section.info {
  @include outer-container;
  h2 {
    margin-top: 0;
    font-size: em(42);
    margin: em(74,42) 0 em(55, 42);
    line-height: em(24, 42);
  }
  article {
    font-size: em(14);
    font-weight: 400;
    line-height: em(20, 14);
    color: #5a5a5a;
    margin-bottom: em(35, 14);
    h3 {
      font-size: em(30, 14);
      line-height: em(30, 30);
      margin: 0 0 em(20, 30);
      font-weight: 300;
      color: #181818;
    }
    h5 {
      font-size: em(14, 14);
      font-weight: 700;
      margin:0 0 em(20, 14);
    }
    ul {
      padding: 0 0 0 em(15, 14);
      li { list-style-image: url('/assets/bullet.png'); }
    }
  }
  .vision { @include span-columns(24); }
  .values { @include span-columns(11); }
  .tasks { @include span-columns(13); }
}

.mission {
  background: url('/assets/photo2.jpg') no-repeat center center;
  background-size: cover;
  height: em(242);
  width: 100%;
  min-width: $min-container;
  .left { @include span-columns(19); }
  .right { @include span-columns(5); }
  a.button { margin: em(109, 14) 0 0; }
  .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: em(30) em(52) 0 em(52);
    border-color:#e6e6e6 transparent transparent;

    margin: 0 auto;
    // left: 50%;
    margin-bottom: em(-30);
    // position: absolute;
  }
  h3 {
    margin: em(73,24) 0 0;
    padding: 0;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    font-size: em(24);
    text-transform: uppercase;
  }
  p {
    color: #fff;
    line-height: 1em;
    margin: em(5,48) 0 0;
    text-transform: uppercase;
    font-size: em(48);
    font-weight: 300;
  }
}

.contacts {
  color: #181818;
  line-height: em(23);
  @include outer-container;
  .icon {
    width: em(44);
    height: em(43);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: em(60) auto em(22);
  }
  span {
    color: #949494;
    &:after {
      content: " ";
    }
  }
  .phones {
    @include span-columns(4);
    @include shift(2);
    .icon { background-image: url('/assets/icon-phone.png'); }
  }
  .emails {
    @include span-columns(6);
    @include shift(3);
    .icon { background-image: url('/assets/icon-mail.png'); }
  }
  .adress {
    @include span-columns(6);
    @include shift(2);
    line-height: em(23);
    .icon { background-image: url('/assets/icon-adress.png'); }
  }
}
.footer {
  background: #090909;
  color: #fff;
  font-size: em(14);
  position: relative;
  height: em(36, 14);
  // line-height: em(36, 14);
  vertical-align: middle;
  margin: em(79, 14) 0 0;
  width: 100%;
  text-align: center;
  min-width: $min-container;
  .made-in {
    position: absolute;
    left: em(20, 14);
    top: em(9, 14);
    &:before {
      content: ' ';
      display: inline-block;
      background: url('/assets/if-logo2d.png');
      width: em(14, 14);
      height: em(14, 14);
      margin-right: em(10, 14);
      position: relative;
      top: em(2, 14);
    }
  }
  .warm-city {
    position: absolute;
    top: em(1, 14);
    &:before {
      content: ' ';
      display: inline-block;
      background: url('/assets/warm-if-logo2d.png');
      width: em(25, 14);
      margin-right: em(9, 14);
      height: em(24, 14);
      position: relative;
      top: em(4, 14);
    }
  }
  .webmil {
    position: absolute;
    right: em(20, 14);
    top: em(5, 14);
    img {
      height: em(20, 14);
      width: em(28, 14);
    }
  }
}
