extends layout/default
block vars
  - var bodyClass = 'faq'
  - var title = 'Тепле Місто - FAQ'

block content
  section.faq
    h3 Питання та відповіді про рейтинг
    .block
      p 
        b Рейтинг топ-50 найпрогресивніших компаній міста 
        | &nbsp;— це 50 бізнес-компаній, які своєю фінансовою чи професійною підтримкою готові розвивати Івано-Франківськ  прогресивним способом.
    .block
      h4 Що таке професійна підтримка?
      p Це постійний супровід діяльності «Теплого Міста»: юридичний, бухгалтерський, технічний. Це компанії, які роблять свій вклад у розвиток проекту «Тепле Місто», системно надаючи професійні послуги на партнерських умовах.
    .block
      h4 Що таке фінансова підтримка?
      p Це постійні щомісячні, щоквартальні або щорічні фінансові внески, які роблять компанії, щоб системно допомагати «Теплому Місту». Кошти надходять на рахунок БО «Благодійний фонд «Тепле Місто».
    
    .block
      h4 На що йдуть кошти?
      p Кошти отримує середовище «Тепле Місто» та оперує ними, використовуючи та направляючи на реалізацію тих проектів та напрямів, які визначені як основні.
      p В першу чергу — це операційні витрати на забезпечення постійної роботи управлінської команди «Теплого Міста» та адміністративні витрати (в т.ч. оренда офісу, оплата програмного забезпечення).
      p Також «Тепле Місто» акумулює кошти для фінансування проектів, які визначенні як основні на сьогодні.
    
    .block
      h4 Що таке управлінська команда?
      p Це керівники проектів, що реалізовуються «Теплим Містом».
      p 
        | В команду «Теплого Міста» зараз входять 8 людей:
        ul 
          li Юрій Филюк (стратегічне планування), 
          li Віктор Загреба (менеджер з розвитку, проект «Тепле веломісто”),
          li Ганна Бурлака (робота з медіа, проект “Візуальний стиль”, адміністрування),
          li Юлія Ляхович (координатор проекту Urban Space 100),
          li Роман Малиновський (напрям “Теплий арт”, проект Арт-резиденції),
          li Ірина Стецевич (робота з партнерами),
          li Василь Гошовський (проект “Вивіски”, дизайн, відео контент),
          li Анастасія Андрійчук (креативний дизайнер).
      p Всі члени команди працюють на умовах повної або часткової зайнятості, професійно виконуючи свою роботу.
    
    .block
      h4 Чому ми вважаємо ініціативи «Теплого Міста» прогресивними?
      p Прогрес для нас — це вихід за рамки сприйняття міста як провінції, яка не цікава гостям.
      p Це тенденція до розвитку невеликого міста, в якій його мініатюрність сприймається як перевага.
      p Це відхід від стереотипу «місто для туристів», і перехід до створення «міста для мешканців».
      p Прогресивність — це розуміння, що проекти світового рівня можуть реалізовуватись в невеликому місті.
      p Це бажання не тільки рухатись в ногу з часом, а й бути трохи попереду.
      p Це визначення ролі міста в світовому форматі, привернення уваги до нього світової спільноти.
      p Це впевненість, що у Івано-Франківську можуть народжуватись та створюватись проекти, про які говорять «Перший в Україні».
    
    .block
      h4 Які компанії входять в рейтинг?
      p Це ті перші 50 компаній, які поділяють наше розуміння прогресивного розвитку для міста. Своєю підтримкою вони інвестують в місто і допомагають соціальним проектам бути реалізованими.
    .block
      h4 Як ми звітуємо.
      p В нас є план, за яким ми працюємо і про виконання якого звітуємо партнерам і громаді. Щомісяця на сайті та на офіційній сторінці «Теплого Міста» у соціальній мережі Facebook викладається детальний описовий звіт із результатами роботи за попередній місяць. Також партнери отримують фінансовий звіт, за яким вони можуть побачити витрати та існуючий баланс.
    
    
