extends layout/default

block content
  header
    img.logo(src='/assets/logo.png')
    nav
      ul
        li.title тепле місто
        li
          a(href="#") Проекти
        li
          a(href="#") про нас
        li
          a(href="#") партнери
    ul.languages
      li
        a(href="#") ua
      li
        a(href="#") en
  section.header-image
    h1 Середовище «Тепле Місто»
    h2 Об’єднує людей і бізнеси, які підтримують ідеї та дії щодо сталого розвитку Івано-Франківська
    a.button.red(href="#") долучитись
    h3 Топ-50 найпрогресивніших компаній міста

    ul.companies
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li

      li
      li
      li
      li
      li
      li
      li
      li
      li
      li

      li
      li
      li
      li
      li
      li
      li
      li
      li
      li

      li
      li
      li
      li
      li
      li
      li
      li
      li
      li

  section.projects
    h2 проекти
      span 16

    .top-projects
      .project.urban-space
        .info
          h3 проект «грюнвальдська»
          img(src='/assets/projects/grunvaldska-logo.png')
          p
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...

      .project.grunvaldska
        .info
          h3 проект «грюнвальдська»
          img(src='/assets/projects/grunvaldska-logo.png')
          p
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...

      .project.city-brand
        .info
          h3 проект «грюнвальдська»
          img(src='/assets/projects/grunvaldska-logo.png')
          p
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...

      .project.other
        .info
          h3 проект «грюнвальдська»
          img(src='/assets/projects/grunvaldska-logo.png')
          p
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum...

    .other-projects
      .project.p1
        .info
          h3
            проект
            br
            «ТЕПЛЕ ВЕЛО-МІСТО»
      .project.p2
        .info
          h3
            проект
            br
            «ТЕПЛЕ ВЕЛО-МІСТО»
      .project.p3
        .info
            h3
              проект
              br
              «ТЕПЛЕ ВЕЛО-МІСТО»
      .project.p4
        .info
          h3
            проект
            br
            «ТЕПЛЕ ВЕЛО-МІСТО»
      .project.p5
        .info
          h3
            проект
            br
            «ТЕПЛЕ ВЕЛО-МІСТО»
      .project.p6
        .info
          h3
            проект
            br
            «ТЕПЛЕ ВЕЛО-МІСТО»

  section.info
    h2 info
    article.vision
      h3 Візія
      h5 Прогресивне сучасне тепле місто з теплими людьми
      p Тепле ставлення, теплі кав’ярні, теплі люди, теплі відносини, мініатюрність як перевага. Тут з’являється відчуття, що не все придбаєш за гроші, відчуття, що доторкаєшся до глибинних цінностей через простих людей, які тебе оточують. І це створює разючу відмінність від «корпоративної культури» великих міст. Теплий також означає натуральний та природній, без штучності. Відсутність штучності проявляється в усьому: матеріалах, їжі, природі, стосунках. Теплий означає мати «свій шлях». Це не намагання наздоганяти сучасні тренди, а пошук своєї сутності і демонстрація її з кращої сильної сторони. Якщо мова йде про конкуренцію, то люди і бізнеси змагаються лише в тому, хто більше згенерує тепла.
    article.values
      h3 Цінності
      ul
        li безкомпромісна якість (виключно світовий рівень)
        li відкритість (просто, прозоро, зрозуміло)
        li органічність (ніякої штучності ні в чому)
        li індивідуальність (ми робимо унікальні речі)
        li все, що ми робимо, генерує тепло
    article.tasks
      h3 Задачі
      ul
        li об’єднання позитивних людей, бізнесів та ініціатив в місті заради збільшення ефекту їх діяльності
        li обмін думками, ідеями, досвідом, натхненням
        li генерування і реалізація нових проектів
        li підвищення привабливості міста для жителів, гостей, кращих кадрів
        li створення простору для реалізації активної молоді
        li економічне зростання проектів, залучених в ТМ і міста в цілому
        li формування свого унікального стилю міста

  section.mission
    .container
      .left
        h3 Місія:
        p Генерувати тепло в місті

      .right
        a.red.button підтримати

  section.contacts
    ul.phones
      li.icon
      li
        span +380 98
        | 954 31 21
      li
        span +380 55
        | 954 31 21
      li
        span +380 66
        | 004 32 00
    ul.emails
      li.icon
      li
        span E-mail:
        | warmif@gmail.com
      li
        span Skype:
        | qwerty-warmif

    .adress
      .icon
      | м. Івано-Франківськ
      br
      | вул. Стасенка 48 / офіс 40

  section.footer
    span.made-in Made in Ivano-Frankivsk
    span.warm-city Warm-city 2014
    a.webmil(href='http://webmil.com.ua')
      img(src="/assets/webmil-logo.png")
