extends layout/default

block content
  header
    a(href="/")
      img.logo(src='/assets/logo.png')
    nav
      ul
        //- li.title тепле місто
        li
          a(href="#projects") Проекти
        li
          a(href="#info") про нас
        li
          a(href="partners.html") партнери
        li
          a(href="publications.html") публікації
        li
          a(href="faq.html") faq
    ul.languages
      li
        a(href="#") ua
      li
        a(href="#") en
  section.header-image
    h1 Середовище «Тепле Місто»
    h2 Об’єднує людей і бізнеси, які підтримують ідеї та дії щодо сталого розвитку Івано-Франківська
    a.button.red.support-button(href="#step1") підтримати
    h3 Топ-50 найпрогресивніших компаній міста

    ul.companies
      li
      li
      li
        .content.white
          a(href="http://23restorany.ua", title='<h5>«23 ресторани»</h5><p> Генеральний партнер <br/> Мережа ресторанів</p><a href="http://23restorany.ua">23restorany.ua</a>')
            img(src="/assets/companies/23.jpg", data-hover="/assets/companies/23-hover.jpg")
      li
      li
        .content.white
          a(href="http://softjourn.com", title='<h5>«SoftJourn»</h5><p>Генеральний партнер <br/> ІТ-компанія</p><a href="http://softjourn.com">softjourn.com</a>')
            img(src="/assets/companies/softjourn.jpg", data-hover="/assets/companies/softjourn-hover.jpg")
      li
      li
      li
        .content.white
          a(href="#", title='<h5>«Корона Захід»</h5><p> Генеральний партнер <br/>  Дистрибуційна компанія</p>')
            img(src="/assets/companies/koranazahid.jpg", data-hover="/assets/companies/koronazahid-hover.jpg")
      li
      li
      li
      li
        .content.white
          a(href="http://beton.if.ua", title='<h5>«Завод якісних бетонів»</h5><p> Партнер<br/> Виробник бетонів</p><a href="http://beton.if.ua">beton.if.ua</a>')
            img(src="/assets/companies/zyb.jpg", data-hover="/assets/companies/zyb-hover.jpg")
      li
      li
      li
      li
      li
      li
      li
        .content.white
          a(href="http://fil-bud.if.ua", title='<h5>«Спілка забудовників»</h5><p> Партнер <br/>Будівельна компанія</p><a href="http://fil-bud.if.ua">fil-bud.if.ua</a>')
            img(src="/assets/companies/szif.jpg", data-hover="/assets/companies/szif-hover.jpg")
      li
      li
        .content.white
          a(href="http://bastion-if.com.ua", title='<h5>«Фортечна галерея Бастіон»</h5><p>Партнер<br/>Сувенірно-подарункова галерея</p><a href="http://bastion-if.com.ua">bastion-if.com.ua</a>')
            img(src="/assets/companies/bastion.jpg", data-hover="/assets/companies/bastion-hover.jpg")


      li
      li

      li
        .content.white
          a(href="http://chicken-hut.com.ua", title='<h5>«Сhicken Hut»</h5><p>Партнер<br/>Мережа закладів швидкого харчування</p><a href="http://chicken-hut.com.ua">chicken-hut.com.ua</a>')
            img(src="/assets/companies/chickenhut.jpg", data-hover="/assets/companies/chickenhut-hover.jpg")


      li
      li
        .content.white
          a(href="http://yogaifschool.com", title='<h5>«YogaIfSchool»</h5><p>Спонсор<br/>Йога-центр</p><a href="http://yogaifschool.com">yogaifschool.com</a>')
            img(src="/assets/companies/yoga.jpg", data-hover="/assets/companies/yoga-hover.jpg")

      li
      li
        .content.white
          a(href="http://lex-consulting.ua", title='<h5>«Lex Consulting»</h5><p>Консалтинговий партнер<br/>Юридичні послуги</p><a href="http://lex-consulting.ua">lex-consulting.ua</a>')
            img(src="/assets/companies/lex.jpg", data-hover="/assets/companies/lex-hover.jpg")

      li
      li

      li
      li
        .content.white
          a(href="https://facebook.com/parasolya", title='<h5>«Парасоля»</h5><p>Консалтинговий партнер<br/>Консалтингові послуги</p><a href="https://facebook.com/parasolya">facebook.com/parasolya</a>')
            img(src="/assets/companies/parasolya.jpg", data-hover="/assets/companies/parasolya-hover.jpg")
      li
      li
      li
      li
        .content.white
          a(href="https://facebook.com/woosmm", title='<h5>«WOO SMM Agency»</h5><p>Консалтинговий партнер<br/>SMM маркетинг</p><a href="http://facebook.com/woosmm">facebook.com/woosmm</a>')
            img(src="/assets/companies/woo.jpg", data-hover="/assets/companies/woo-hover.jpg")

      li
      li
      li
      li
      li
      li
      li
        .content.white
          a(href="http://webmil.com.ua", title='<h5>«Webmil»</h5><p>Технічний партнер<br/>WEB-розробка</p><a href="http://webmil.com.ua">webmil.com.ua</a>')
            img(src="/assets/companies/webmil.jpg", data-hover="/assets/companies/webmil-hover.jpg")
      li
        .content.white
          a(href="http://sint.if.ua", title='<h5>«СІНТ-Майстер»</h5><p>Технічний партнер<br/>Заправка і ремонт техніки для друку</p><a href="http://sint.if.ua">sint.if.ua</a>')
            img(src="/assets/companies/sint.jpg", data-hover="/assets/companies/sint-hover.jpg")

      li
      li
      li
      li
      li
      li
        .content.add
          a.sign-as-company(href="#step2c", title='приєднатися')
            img(src="/assets/companies/add.png")
    .progress
      .desc 13/50
      .progress-bar
        .filled(data-width='231')


    .socials
      a(href="https://twitter.com/WarmCityIF")
        img(src="/assets/twitter-small.png")
        | twitter
      a.facebook(href="https://www.facebook.com/warmifua")
        img(src="/assets/facebook-small.png")
        | facebook
    .triangle

  section.projects#projects
    h2 проекти
      span 16

    .top-projects
      .project.urban-space(data-href="projects/urbanspace.html")
        .info
          h3 «Urban Space 100»
          //- img(src='/assets/projects/grunvaldska-logo.png')
          p
            | Соціальне підприємство у форматі ресторану є успішним прикладом об’єднання громади навколо спільної ідеї. Прибуток ресторану направляється виключно на реалізацію громадських проектів міста.

      .project.city-brand(data-href="projects/citybrand.html")
        .info
          h3 Візуальний стиль міста
          //- img(src='/assets/projects/grunvaldska-logo.png')
          p
            | В 2014 році в було представлено новий стиль міста. Івано-Франківськ отримав логотип, правила щодо розміщення вуличної навігації і впорядкування зовнішньої реклами на фасадах будинків. Логотип став фіналістом Фестивалю «Каннські леви»

      .project.grunvaldska(data-href="assets/images/gr_presentation.pdf")
        .info
          h3 проект «Грюнвальдська»
          //- img(src='/assets/projects/grunvaldska-logo.png')
          p
            | Проект перетворення Грюнвальдської на найкращу вулицю в Європі та модель «нового Івано-Франківська» як ідеального міста в межах локальної території.


      .project.bike-city(data-href="https://www.facebook.com/bikeIF")
        .info
          h3 Тепле веломісто
          //- img(src='/assets/projects/grunvaldska-logo.png')
          p
            | Просування велосипедів, як найбільш раціонального і прогресивного транспорту у межах міста. Ми бачимо Івано-Франківськ, як найбільш велосипедне місто Східної Європи, в якому 41% усіх поїздок громада робить на велосипедах.

      .project.post-cards(data-href="https://www.facebook.com/warmcards")
        .info
          h3 Теплі Поштівки
          //- img(src='/assets/projects/grunvaldska-logo.png')
          p
            | Творчо-промоційна ініціатива зі створення та розповсюдження сучасних і привабливих поштівок про Івано-Франківськ.

      .project.signs
        .info
          h3 Вивіски
          //- img(src='/assets/projects/grunvaldska-logo.png')
          p
            //- | Творчо-промоційна ініціатива зі створення та розповсюдження сучасних і привабливих поштівок про Івано-Франківськ.

      .project.child-space(data-href="https://www.facebook.com/childfriendlypublicspace")
        .info
          h3 Дитячий міський простір
          //- img(src='/assets/projects/grunvaldska-logo.png')
          p
            | Проведення міжнародного архітектурного конкурсу на проект створення дружніх до дітей громадських просторів (спільно з ГО «Мами Прикарпаття» та Департаментом містобудування та архітектури).

      .project.art(data-href="art.html")
        .info
          h3 Теплий Арт
          //- img(src='/assets/projects/grunvaldska-logo.png')
          p
            | концепція традиційних європейських практик розвитку мистецького середовища. Мета Теплого Арту – доповнити культурний ландшафт і вплинути на загальну статику мистецького середовища Івано-Франківська

    //- .other-projects
    //-   .project.p1
    //-     .info
    //-       h3
    //-         | проект
    //-         br
    //-         | «Вивіски»
    //-   .project.p2
    //-     .info
    //-       h3
    //-         | проект
    //-         br
    //-         | «Теплий Арт»
    //-   .project.p3
    //-     .info
    //-         h3
    //-           | Дитячий міський простір
    //-   .project.p4
    //-     .info
    //-       h3
    //-         | проект
    //-         br
    //-         | «Теплі поштівки»
    //-   .project.p5
    //-     .info
    //-       h3
    //-         | Тепле IT-середовище
    //-   .project.p6
    //-     .info
    //-       h3
    //-         | Тепла Освіта
    //-   .project.p7
    //-     .info
    //-       h3
    //-         | Теплі фестивалі
    //-   .project.p8
    //-     .info
    //-       h3
    //-         | Теплі заклади
    //-   .project.p9
    //-     .info
    //-       h3
    //-         | Теплий туристичний посібник



  section.mission
    img.paralax(src="/assets/photo2.jpg")
    .container
      .triangle
      .left
        h3 Місія:
        p Генерувати тепло в місті

      .right
        a.button.red.support-button(href="#") підтримати

  section.info#info
    article.vision
      h3 Візія
      h5 Прогресивне сучасне тепле місто з теплими людьми
      p Тепле ставлення, теплі кав’ярні, теплі люди, теплі відносини, мініатюрність як перевага. Тут з’являється відчуття, що не все придбаєш за гроші, відчуття, що доторкаєшся до глибинних цінностей через простих людей, які тебе оточують. І це створює разючу відмінність від «корпоративної культури» великих міст. Теплий також означає натуральний та природній, без штучності. Відсутність штучності проявляється в усьому: матеріалах, їжі, природі, стосунках. Теплий означає мати «свій шлях». Це не намагання наздоганяти сучасні тренди, а пошук своєї сутності і демонстрація її з кращої сильної сторони. Якщо мова йде про конкуренцію, то люди і бізнеси змагаються лише в тому, хто більше згенерує тепла.
    article.values
      h3 Цінності
      ul
        li безкомпромісна якість (виключно світовий рівень)
        li відкритість (просто, прозоро, зрозуміло)
        li органічність (ніякої штучності ні в чому)
        li індивідуальність (ми робимо унікальні речі)
        li все, що ми робимо, генерує тепло
    article.tasks
      h3 Задачі
      ul
        li об’єднання позитивних людей, бізнесів та ініціатив в місті заради збільшення ефекту їх діяльності
        li обмін думками, ідеями, досвідом, натхненням
        li генерування і реалізація нових проектів
        li підвищення привабливості міста для жителів, гостей, кращих кадрів
        li створення простору для реалізації активної молоді
        li економічне зростання проектів, залучених в ТМ і міста в цілому
        li формування свого унікального стилю міста
  //- section.video
  //-   .play-link-container
  //-     a.how-it-works-link(href="#")
  //-       img(src="/assets/play-button.png")
  //-       | Як це працює
  section.map
    .title проекти та події на мапі
    #map-container
    ul.list
      li.all.active Всі
      li.item
        i
        | Арт
      li.item
        i
        | Реконструкція
      li.item
        i
        | Створення
      li.item
        i
        | Проведені події
      li.item
        i
        | Заплановані події
      li.item
        i
        | Незавершені
  section.news
    h2 новини
      span 18
    .news-item
      img(src="/assets/news/news1.jpg")
      h4 В Украине появилос пианино, раздающее минеральную воду за музыку
      p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
      time 12.12.14
    .news-item
      img(src="/assets/news/news1.jpg")
      h4 Команда відкриває обличчя
      p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum Duis sed odio sit amet
      time 12.12.14
    .news-item.last
      img(src="/assets/news/news1.jpg")
      h4 В Украине появилос пианино, раздающее минеральную
      p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
      time 12.12.14
    .button-container
      a.button.red(href="news.html") всі новини
  section.contacts
    .container
      .email
        span.icon
        | warmif@gmail.com

      .adress
        span.icon
        | м. Івано-Франківськ, вул. Тринітарська 11, офіс 9

      .socials
        a.twitter(href="https://twitter.com/WarmCityIF")
          img(src="/assets/icon-twitter.png")
        a.facebook(href="https://www.facebook.com/warmifua")
          img(src="/assets/icon-facebook.png")

  section.footer
    span.made-in Made in Ivano-Frankivsk
    span.warm-city Warm-city 2014
    a.webmil(href='http://webmil.com.ua')
      img(src="/assets/webmil-logo.png")

  .overlay.video-overlay
    .center
      iframe#player(src="//player.vimeo.com/video/94954902?title=0&byline=0&portrait=0&api=1&player_id=player" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true")
    .close

  .overlay.dialog-overlay.white
    .center
      .steps.step1#step1
        .title
          p Обирай форму допомоги нам
          .line
        .left
          img.lamp(src="/assets/lamp.png", alt="lamp")
          h5
            | прогресивна компанія
            span.help(title='"Тепле місто" об’єднує людей і бізнеси, які підтримують ідеї та дії щодо сталого розвитку Івано-Франківська. Якщо ваша компанія є саме такою, ми пропонуємо два варіанти співпраці: <ul><li>Стати бізнес-партнером</li><li>Надати одноразову допомогу</li></ul>')
          a.dialog-button.as-company(href="#step2c") підтримати як організація
        .right
          img.transformer(src="/assets/transformer.png", alt="transformer")
          h5
            | прогресивна людина
            span.help(title='Ви - небайдужа, сучасна, проактивна людина? Ви любите це місто і хочете, аби воно стало ще кращим? Оберіть, що вам ближче:<ul><li>Стати членом ГО "Тепле місто"</li><li>Надати доброчинну допомогу</li><li>Придбати продукцію у стилі Івано-Франківська</li></ul>')
          a.dialog-button.as-human(href="#step2") підтримати як людина
      .steps.step2#step2
        .title
          p допомоги нам як людина
          .line
        .block.first.money
          img.diamond(src="/assets/diamond.png", alt="diamond")
          h5
            | Фондуй
            span.help(title='Ви поділяєте наші цінності і прагнете зробити Франківськ прогресивним сучасним містом? Тоді пропонуємо вам надати підтримку "Теплому місту", зробивши доброчинний внесок у зручний для вас спосіб. Ця можливість відкрита як для окремих людей, так і для цілих організацій. <ul> <li>Онлайн-платіж з банківської картки (coming soon)</li> <li>Переказ на розрахунковий рахунок</li></ul>')
          p Ви поділяєте наші цінності і прагнете зробити Франківськ прогресивним сучасним містом? Тоді пропонуємо вам надати підтримку "Теплому місту", зробивши доброчинний внесок у зручний для вас спосіб
          a.dialog-button.give-money(href="#money-help") допомогти матеріально
        .block.second.member
          img.super(src="/assets/super.png", alt="super")
          h5
            | Стань учасником
            span.help(title='Долучайтесь до "Теплого міста", вступивши в громадську організацію. Отримайте можливість впливати на діяльність організації, пропонувати свої проекти, брати участь в загальних зборах, і відчувати особисту приналежність до прогресивних змін у нашому місті та Україні.<br/>Для членства в ГО "Тепле місто":<ul><li>Заповніть анкету, паперову або електронну</li><li>Сплатіть річний членський внесок в сумі 120 грн.</li></ul>Після цього ми підтвердимо ваше членство в ГО "Тепле місто" і розповімо про подальші події та можливості.')
          p Долучайтесь до "Теплого міста". вступивши в громадську організацію. Отримайте можливість впливати на діяльність організації, пропонувати свої проекти, брати участь в загальних зборах
          a.dialog-button.become-member(href="#form-people") долучитись
        .block.last.online-store.disabled
          h5 online store
          p Придбати продукцію у стилі Івано-Франківська
          a.dialog-button(href="") coming soon
      .steps.step2c#step2c
        .title
          p допомоги нам як компанія
          .line
        .block.first.bp
          img.diamond(src="/assets/diamond.png", alt="diamond")
          h5
            | Стати бізнес партнером
            span.help(title='Підтримуючи прогресивний розвиток Івано-Франківська як бізнес-партнер, ви отримуєте:<ul><li>Участь в "ТОП-50 прогресивних  компаній Івано-Франківська" (кількість місць обмежена)</li> <li>Висвітлення на інформаційних ресурсах "Теплого міста"</li> <li>Присутність логотипу компанії в прес-релізах і на прес-конференціях, періодичне висвітлення в ЗМІ та на промо-матеріалах</li> <li>Запрошення на події, що організовує "Тепле місто"</li> <li>Щомісячний  звіт про діяльність "Теплого міста" </li> <li>Запрошення на щорічні урочисті збори "Теплого міста" </li> </ul>')
          p Бізнес-партнер — це компанія, що системно сприяє "Теплому місту", здійснюючи фінансову підтримку, або пакет професійних послуг.
          a.dialog-button.become-business-partner(href="#form-business") долучитись
        .block.second.mnh
          img.super(src="/assets/super.png", alt="super")
          h5
            | Надати доброчинну допомогу
            span.help(title='Ви поділяєте наші цінності і прагнете зробити Франківськ прогресивним сучасним містом? Тоді пропонуємо вам надати підтримку "Теплому місту", зробивши доброчинний внесок у зручний для вас спосіб. Ця можливість відкрита як для окремих людей, так і для цілих організацій. <ul> <li>Онлайн-платіж з банківської картки (coming soon)</li> <li>Переказ на розрахунковий рахунок</li></ul>')
          p Пропонуємо вам надати підтримку "Теплому місту", зробивши доброчинний внесок у зручний для вас спосіб.
          a.dialog-button.give-money(href="#money-help") допомогти матеріально

      .steps.success-step#success-step
          img.success(src="/assets/success.png", alt="success")
          h5 Дякуємо! Вашу заявку прийнято
          p очікуйте лист відповідь на пошту
          a.close-link(href="#") закрити
      .steps.form-business#form-business
        .title
          p Стати бізнес-партнером
          .line
        form.business(action="")
          span Для обговорення деталей просимо заповнити коротку анкету, і наш менеджер Ірина зв'яжеться з вами найближчим часом <br>Контакт: Ірина Стецевич, тел. 066 856 27 15, iryna.s@warm.if.ua
          input.required(name="name", placeholder="Назва організації", required="true")
          input(name="site", placeholder="Сайт")
          input.required(name="contact-person", placeholder="Контактна особа", required="true")
          input.required(name="phone", placeholder="Телефон", required="true")
          input(name="email", placeholder="Email")
          textarea(name="comment", placeholder="Коментар")
          span
            img(src="/assets/required.png", alt="required")
            | &mdash; поля обов’язкові для заповнення
          input.dialog-button.submit(type="submit", value="відправити")
      .steps.form-people#form-people
        .title
          p Стати членом ГО "Тепле місто"
          .line
        form.people(action="")
          span Для членства в ГО "Тепле місто" заповніть анкету, паперову або електронну та сплатіть річний членський внесок в сумі 120 грн. Після цього ми підтвердимо ваше членство в ГО "Тепле місто" і розповімо про подальші події та можливості.
          input.required(name="name", placeholder="Ім'я, прізвище", required="true")
          input(name="address", placeholder="Адреса проживання")
          input.required(name="phone", placeholder="Телефон", required="true")
          input(name="email", placeholder="Email")
          input(name="facebook", placeholder="Facebook")
          textarea(name="comment", placeholder="Коментар")
          span
            img(src="/assets/required.png", alt="required")
            | &mdash; поля обов’язкові для заповнення
          input.dialog-button.submit(type="submit", value="відправити")
      .steps.money-help#money-help
        .title
          p Надати доброчинну допомогу
          .line
        .block.left.rax
          h5 Переказ на розрахунковий рахунок
          ul
            li
              span Отримувач платежу:
              b Благодійний фонд "Тепле місто"
            li
              span Код ЄДРПОУ:
              b 39377102
            li
              span Рахунок:
              b 260025 3039 0500
            li
              span Назва банку:
              b ПАТ "УкрСиббанк"
            li
              span МФО:
              b 351005
            li
              span Призначення платежу:
              b "Благодійний внесок"
        .block.right.disabled
          h5 Онлайн-платіж з банківської карти картки
          a.dialog-button.submit(href="") оплатити
    .back
    .close
