extends layout/default
block vars
  - var title = 'Тепле Місто'
block content
  include partials/header-grid

  section.projects#projects
    h2 проекти
      span 10

    .top-projects
      a.project.urban-space(href="/projects/urbanspace.html")
        .info
          h3 «Urban Space 100»
          p
            | Перший в Україні громадський ресторан, прибуток якого направляється винятково на реалізацію проектів розвитку міста.

      a.project.city-brand(href="/projects/citybrand.html")
        .info
          h3 Візуальний стиль міста
          p
            | Проект із розробки візуальної ідентичності Івано-Франківська. У 2014 р. місто отримало новий  логотип, правила розміщення вуличної навігації та рекомендації із впорядкування зовнішньої реклами на фасадах будинків.

      a.project.grunvaldska(href="/assets/gr_presentation.pdf")
        .info
          h3 проект «Грюнвальдська»
          p
            | Перетворення Грюнвальдської на найкращу вулицю в Європі та модель «нового Івано-Франківська» як ідеального міста в межах локальної території.


      a.project.bike-city(href="/projects/bike.html")
        .info
          h3 Тепле веломісто
          p
            | Просування велосипедів як найбільш раціонального та екологічного міського транспорту.

      //- a.project.post-cards(href="/projects/post-cards.html")
      //-   .info
      //-     h3 Теплі Поштівки
      //-     p
      //-       | Творчо-промоційна ініціатива зі створення та розповсюдження сучасних і привабливих поштівок про Івано-Франківськ.
      //- 
      //- a.project.signs(href="/projects/signs.html")
      //-   .info
      //-     h3 Вивіски
      //-     p
      //-       | Створення візуально привабливих вивісок зі збереженням естетики середовища та врахуванням архітектурних особливостей будівель.

      a.project.child-space(href="/projects/childfriendlypublicspace.html")
        .info
          h3 Дитячий міський простір
          p
            | Міжнародний архітектурний конкурс зі створення сучасних і органічних дитячих просторів у Івано-Франківську.

      a.project.art(href="/projects/art.html")
        .info
          h3 Теплий Арт
          p
            | Концепція традиційних європейських практик розвитку мистецького середовища. Теплий Арт — це доповнення культурного ландшафту і створення локального майданчику для творчої діяльності митців світового рівня.
    .other-projects
      a.project.signs(href="/projects/signs.html")
        .info
          h3 Вивіски
      a.project.post-cards(href="/projects/post-cards.html")
        .info
          h3 Теплі Поштівки
      a.project.residences(href="/projects/residences.html")
        .info
          h3 Виїзні резиденції
      a.project.other
        .info
          h3 Інші проекти
        
  section.mission
    img.paralax(src="/assets/photo2.jpg")
    .container
      .triangle
      .left
        h3 Місія:
        p Генерувати тепло в місті

      .right
        a.button.red.support-button(href="#step1") підтримати

  section.info#info
    article.vision
      h3 Візія
      h5 Прогресивне сучасне тепле місто з теплими людьми
      p Тепле ставлення, теплі кав’ярні, теплі люди, теплі відносини, мініатюрність як перевага. Тут з’являється відчуття, що не все придбаєш за гроші, відчуття, що доторкаєшся до глибинних цінностей через простих людей, які тебе оточують. І це створює разючу відмінність від «корпоративної культури» великих міст. Теплий також означає натуральний та природній, без штучності. Відсутність штучності проявляється в усьому: матеріалах, їжі, природі, стосунках. Теплий означає мати «свій шлях». Це не намагання наздоганяти сучасні тренди, а пошук своєї сутності і демонстрація її з кращої сильної сторони. Якщо мова йде про конкуренцію, то люди і бізнеси змагаються лише в тому, хто більше згенерує тепла.
    article.values
      h3 Цінності
      ul
        li безкомпромісна якість (виключно світовий рівень)
        li відкритість (просто, прозоро, зрозуміло)
        li органічність (ніякої штучності ні в чому)
        li індивідуальність (ми робимо унікальні речі)
        li все, що ми робимо, генерує тепло
    article.tasks
      h3 Задачі
      ul
        li об’єднання позитивних людей, бізнесів та ініціатив в місті заради збільшення ефекту їх діяльності
        li обмін думками, ідеями, досвідом, натхненням
        li генерування і реалізація нових проектів
        li підвищення привабливості міста для жителів, гостей, кращих кадрів
        li створення простору для реалізації активної молоді
        li економічне зростання проектів, залучених в ТМ і міста в цілому
        li формування свого унікального стилю міста
  //- section.video
  //-   .play-link-container
  //-     a.how-it-works-link(href="#")
  //-       img(src="/assets/play-button.png")
  //-       | Як це працює
  section.map
    .title проекти та події на мапі
    #map-container
    ul.list
      li.all.active Всі
      li.item
        i
        | Арт
      li.item
        i
        | Реконструкція
      li.item
        i
        | Створення
      li.item
        i
        | Проведені події
      li.item
        i
        | Заплановані події
      li.item
        i
        | Незавершені
  section.news
    h2 новини
      span 3
    .news-item
      img(src="/assets/news/1.jpg")
      h4 
        a(href="/news/071114.html") В «Urban Space 100» триває набір персоналу. Вже відомо, хто став керівником закладу
      p 23 — саме стільки вакансій відкрито в «Urban Space 100»
      time 07.11.14
    .news-item
      img(src="/assets/news/2.jpg")
      h4 
        a(href="/news/241014.html") Сувеніри з символікою міста вироблятимуть у Івано-Франківську
      p В Івано-Франківську відкривається сувенірна фабрика «Буквиця»
      time 24.10.14
    .news-item.last
      img(src="/assets/news/3.jpg")
      h4 
        a(href="/news/221014.html") На Набережній обладнають велодоріжку
      p Активісти спільноти “Тепле веломісто” активно лобіюють облаштування першої велодоріжки в Івано-Франківську на вулиці Набережній.
      time 22.10.14
    .button-container
      a.button.red(href="news.html") всі новини
  include partials/overlays
