extends layout/default

block content
  include partials/header-grid

  section.projects#projects
    h2 проекти
      span 16

    .top-projects
      a.project.urban-space(href="projects/urbanspace.html")
        .info
          h3 «Urban Space 100»
          p
            | Соціальне підприємство у форматі ресторану є успішним прикладом об’єднання громади навколо спільної ідеї. Прибуток ресторану направляється виключно на реалізацію громадських проектів міста.

      a.project.city-brand(href="projects/citybrand.html")
        .info
          h3 Візуальний стиль міста
          p
            | В 2014 році в було представлено новий стиль міста. Івано-Франківськ отримав логотип, правила щодо розміщення вуличної навігації і впорядкування зовнішньої реклами на фасадах будинків. Логотип став фіналістом Фестивалю «Каннські леви»

      a.project.grunvaldska(href="assets/images/gr_presentation.pdf")
        .info
          h3 проект «Грюнвальдська»
          p
            | Проект перетворення Грюнвальдської на найкращу вулицю в Європі та модель «нового Івано-Франківська» як ідеального міста в межах локальної території.


      a.project.bike-city(href="https://www.facebook.com/bikeIF")
        .info
          h3 Тепле веломісто
          p
            | Просування велосипедів, як найбільш раціонального і прогресивного транспорту у межах міста. Ми бачимо Івано-Франківськ, як найбільш велосипедне місто Східної Європи, в якому 41% усіх поїздок громада робить на велосипедах.

      a.project.post-cards(href="https://www.facebook.com/warmcards")
        .info
          h3 Теплі Поштівки
          p
            | Творчо-промоційна ініціатива зі створення та розповсюдження сучасних і привабливих поштівок про Івано-Франківськ.

      a.project.signs
        .info
          h3 Вивіски
          p
            //- | Творчо-промоційна ініціатива зі створення та розповсюдження сучасних і привабливих поштівок про Івано-Франківськ.

      a.project.child-space(href="https://www.facebook.com/childfriendlypublicspace")
        .info
          h3 Дитячий міський простір
          p
            | Проведення міжнародного архітектурного конкурсу на проект створення дружніх до дітей громадських просторів (спільно з ГО «Мами Прикарпаття» та Департаментом містобудування та архітектури).

      a.project.art(href="art.html")
        .info
          h3 Теплий Арт
          p
            | концепція традиційних європейських практик розвитку мистецького середовища. Мета Теплого Арту – доповнити культурний ландшафт і вплинути на загальну статику мистецького середовища Івано-Франківська


  section.mission
    img.paralax(src="/assets/photo2.jpg")
    .container
      .triangle
      .left
        h3 Місія:
        p Генерувати тепло в місті

      .right
        a.button.red.support-button(href="#") підтримати

  section.info#info
    article.vision
      h3 Візія
      h5 Прогресивне сучасне тепле місто з теплими людьми
      p Тепле ставлення, теплі кав’ярні, теплі люди, теплі відносини, мініатюрність як перевага. Тут з’являється відчуття, що не все придбаєш за гроші, відчуття, що доторкаєшся до глибинних цінностей через простих людей, які тебе оточують. І це створює разючу відмінність від «корпоративної культури» великих міст. Теплий також означає натуральний та природній, без штучності. Відсутність штучності проявляється в усьому: матеріалах, їжі, природі, стосунках. Теплий означає мати «свій шлях». Це не намагання наздоганяти сучасні тренди, а пошук своєї сутності і демонстрація її з кращої сильної сторони. Якщо мова йде про конкуренцію, то люди і бізнеси змагаються лише в тому, хто більше згенерує тепла.
    article.values
      h3 Цінності
      ul
        li безкомпромісна якість (виключно світовий рівень)
        li відкритість (просто, прозоро, зрозуміло)
        li органічність (ніякої штучності ні в чому)
        li індивідуальність (ми робимо унікальні речі)
        li все, що ми робимо, генерує тепло
    article.tasks
      h3 Задачі
      ul
        li об’єднання позитивних людей, бізнесів та ініціатив в місті заради збільшення ефекту їх діяльності
        li обмін думками, ідеями, досвідом, натхненням
        li генерування і реалізація нових проектів
        li підвищення привабливості міста для жителів, гостей, кращих кадрів
        li створення простору для реалізації активної молоді
        li економічне зростання проектів, залучених в ТМ і міста в цілому
        li формування свого унікального стилю міста
  //- section.video
  //-   .play-link-container
  //-     a.how-it-works-link(href="#")
  //-       img(src="/assets/play-button.png")
  //-       | Як це працює
  section.map
    .title проекти та події на мапі
    #map-container
    ul.list
      li.all.active Всі
      li.item
        i
        | Арт
      li.item
        i
        | Реконструкція
      li.item
        i
        | Створення
      li.item
        i
        | Проведені події
      li.item
        i
        | Заплановані події
      li.item
        i
        | Незавершені
  section.news
    h2 новини
      span 18
    .news-item
      img(src="/assets/news/news1.jpg")
      h4 В Украине появилос пианино, раздающее минеральную воду за музыку
      p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
      time 12.12.14
    .news-item
      img(src="/assets/news/news1.jpg")
      h4 Команда відкриває обличчя
      p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum Duis sed odio sit amet
      time 12.12.14
    .news-item.last
      img(src="/assets/news/news1.jpg")
      h4 В Украине появилос пианино, раздающее минеральную
      p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
      time 12.12.14
    .button-container
      a.button.red(href="news.html") всі новини
  include partials/overlays
