extends layout/default
block vars
  - var bodyClass = 'news'
  - var title = 'Тепле Місто - Новини'
block content
  section.news-list
    .month
      h4 2014 грудень
      ul
        li
          time
            | 04
            span груд
          .short-news-item
            a(href="/news/041214.html") Ресторація «Кухня»
            p Відразу після презентації проекту «Вивіски» в квітні цього року ми отримали кілька замовлень на розробку макетів вивісок
    .month
      h4 2014 листопад
      ul
        li
          time
            | 25
            span лис
          .short-news-item
            a(href="/news/251114.html") Середовище «Тепле Місто» разом з партнерами презентували конкурс «Місто дружнє до дітей»
            p Це перший в Івано-Франківську міжнародний архітектурний конкурс, що передбачає створення та впорядкування громадських просторів.
        li
          time
            | 18
            span лис
          .short-news-item
            a(href="/news/181114.html") 18 листопада Тепле Місто презентувало Арт-резиденцію у Івано-Франківську
            p «Тепле Місто» представляє проект Арт-резиденції у Івано-Франківську, концептуальну ідею, покликану розширити межі культурного діалогу, що відбувається в середовищі міського простору.
        li
          time
            | 07
            span лис
          .short-news-item
            a(href="/news/071114.html") В «Urban Space 100» триває набір персоналу. Вже відомо, хто став керівником закладу
            p 23 — саме стільки вакансій відкрито в «Urban Space 100»: офіціанти, бармени, кухарі на гарячу та холодну зони та менеджери.
        
    .month
      h4 2014 жовтень
      ul
        li
          time
            | 24
            span жов
          .short-news-item
            a(href="/news/241014.html") Популярні сувеніри з символікою міста вироблятимуть у Івано-Франківську
            p В Івано-Франківську відкривається сувенірна фабрика «Буквиця». Тут робитимуться теплі франківські сувеніри, які набули популярності цього літа серед мешканців і гостей міста .
        li
          time
            | 22
            span жов
          .short-news-item
            a(href="/news/221014.html") У міста з'явився шанс на першу велодоріжку
            p Активісти спільноти “Тепле веломісто” активно лобіюють облаштування першої велодоріжки в Івано-Франківську на вулиці Набережній
