extends layout/default
block vars
  - var bodyClass = 'news'
  - var title = 'Тепле Місто - Новини'
block content
  section.news-list
    .month
      h4 2014 листопад
      ul
        li
          time
            | 07
            span лис
          .short-news-item
            a(href="/news/071114.html") В «Urban Space 100» триває набір персоналу. Вже відомо, хто став керівником закладу
            p 23 — саме стільки вакансій відкрито в «Urban Space 100»: офіціанти, бармени, кухарі на гарячу та холодну зони та менеджери.
        
    .month
      h4 2014 жовтень
      ul
        li
          time
            | 24
            span жов
          .short-news-item
            a(href="/news/241014.html") Популярні сувеніри з символікою міста вироблятимуть у Івано-Франківську
            p В Івано-Франківську відкривається сувенірна фабрика «Буквиця». Тут робитимуться теплі франківські сувеніри, які набули популярності цього літа серед мешканців і гостей міста .
        li
          time
            | 22
            span жов
          .short-news-item
            a(href="/news/221014.html") На Набережній обладнають велодоріжку
            p Активісти спільноти “Тепле веломісто” активно лобіюють облаштування першої велодоріжки в Івано-Франківську на вулиці Набережній
