extends layout/default
block vars
  - var bodyClass = 'news'

block content
  section.news-list
    .month
      h4 2014 жовтень
      ul
        li
          time
            | 27
            span жов
          .short-news-item
            a(href="news_open.html") This is Photoshop's version  of Lorem IpsuProin gravida nibh
            p This is Photoshop's version  of Lorem IpsuProin gravida nibh This is Photoshop's version  of Lorem IpsuProin gravida nibh
        li
          time
            | 27
            span жов
          .short-news-item
            a(href="news_open.html") This is Photoshop's version  of Lorem IpsuProin gravida nibh
            p This is Photoshop's version  of Lorem IpsuProin gravida nibh This is Photoshop's version  of Lorem IpsuProin gravida nibh
        li
          time
            | 27
            span жов
          .short-news-item
            a(href="news_open.html") This is Photoshop's version  of Lorem IpsuProin gravida nibh
            p This is Photoshop's version  of Lorem IpsuProin gravida nibh This is Photoshop's version  of Lorem IpsuProin gravida nibh
    .month
      h4 2014 вересень
      ul
        li
          time
            | 13
            span вер
          .short-news-item
            a(href="news_open.html") This is Photoshop's version  of Lorem IpsuProin gravida nibh
            p This is Photoshop's version  of Lorem IpsuProin gravida nibh This is Photoshop's version  of Lorem IpsuProin gravida nibh
        li
          time
            | 21
            span вер
          .short-news-item
            a(href="news_open.html") This is Photoshop's version  of Lorem IpsuProin gravida nibh
            p This is Photoshop's version  of Lorem IpsuProin gravida nibh This is Photoshop's version  of Lorem IpsuProin gravida nibh
        li
          time
            | 27
            span вер
          .short-news-item
            a(href="news_open.html") This is Photoshop's version  of Lorem IpsuProin gravida nibh
            p This is
