extends layout/default
block vars
  - var title = 'Тепле Місто - Партнери'
block content
  include partials/header-grid
  section.partners
    h2 медіапартнери
      span 10
    .list
      a(href="http://1043.com.ua/novyny/multimedia/videonovyny24.html")
        img(src="/assets/partners/24.png", alt="24")
      a(href="http://inspired.com.ua/")
        img(src="/assets/partners/inspired.png", alt="inspired")
      a(href="http://www.uamodna.com/")
        img(src="/assets/partners/ua_modna.png", alt="ua modna")
      a(href="http://vezha.org/")    
        img(src="/assets/partners/vezha.png", alt="vezha")
      a(href="#")
        img(src="/assets/partners/like.png", alt="like")
      a(href="http://report.if.ua/")
        img(src="/assets/partners/reporter.png", alt="reporter")
      a(href="http://1043.com.ua/novyny/multimedia/videonovyny402.html")
        img(src="/assets/partners/402.png", alt="402")
      a(href="http://1043.com.ua/")
        img(src="/assets/partners/1043.png",  alt="1043")
      a(href="http://gk-press.if.ua/")
        img(src="/assets/partners/gk.png",  alt="gk")
      a(href="http://versal-online.com.ua/")
        img(src="/assets/partners/versal.png", alt="versal")
    .buttons
      a.button.red.support-button(href="#") підтримати
  
  include partials/overlays
