extends layout/default

block content
  header
    a(href="/")
      img.logo(src='/assets/logo.png')
    nav
      ul
        li.title тепле місто
        li
          a(href="#") Проекти
        li
          a(href="#") про нас
        li
          a(href="partners.html") партнери
    ul.languages
      li
        a(href="#") ua
      li
        a(href="#") en
  section.header-image
    h1 Середовище «Тепле Місто»
    h2 Об’єднує людей і бізнеси, які підтримують ідеї та дії щодо сталого розвитку Івано-Франківська
    a.button.red.support-button(href="#") підтримати
    h3 Топ-50 найпрогресивніших компаній міста

    ul.companies
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li

      li
      li
        .content.white
          a(href="#", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>')
            img(src="/assets/companies/23.png", data-hover="/assets/companies/23_hover.png")
      li
      li
      li
      li
      li
      li
      li
      li

      li
        .content.white
          a(href="#", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>')
            img(src="/assets/companies/23.png", data-hover="/assets/companies/23_hover.png")
      li
      li
      li
      li
      li
      li
      li
        .content.white
          a(href="#", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>')
            img(src="/assets/companies/synt.png", data-hover="/assets/companies/23_hover.png")
      li
      li

      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
        .content.add
          a(href="#", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>')
            img(src="/assets/companies/add.png")
    .progress
      .desc 50/50
      .progress-bar
        .filled(data-width='450')


    .socials
      a(href="https://twitter.com/WarmCityIF")
        img(src="/assets/twitter-small.png")
        | twitter
      a.facebook(href="https://www.facebook.com/warmifua")
        img(src="/assets/facebook-small.png")
        | facebook
    .triangle



  section.partners
    h2 медіапартнери
      span 9
    .list
      img(src="/assets/partners/24.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="24")
      img(src="/assets/partners/inspired.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="inspired")
      img(src="/assets/partners/ua_modna.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="ua modna")
      img(src="/assets/partners/vezha.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="vezha")
      img(src="/assets/partners/like.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="like")
      img(src="/assets/partners/reporter.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="reporter")
      img(src="/assets/partners/402.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="402")
      img(src="/assets/partners/1043.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="1043")
      img(src="/assets/partners/gk.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="gk")
    .buttons
      a.button.red.support-button(href="#") підтримати

  section.contacts
    .container
      .email
        span.icon
        | warmif@gmail.com

      .adress
        span.icon
        | м. Івано-Франківськ, вул. Тринітарська 11, офіс 9

      .socials
        a.twitter(href="https://twitter.com/WarmCityIF")
          img(src="/assets/icon-twitter.png")
        a.facebook(href="https://www.facebook.com/warmifua")
          img(src="/assets/icon-facebook.png")

  section.footer
    span.made-in Made in Ivano-Frankivsk
    span.warm-city Warm-city 2014
    a.webmil(href='http://webmil.com.ua')
      img(src="/assets/webmil-logo.png")

  .overlay.video-overlay
    .center
      iframe#player(src="//player.vimeo.com/video/94954902?title=0&byline=0&portrait=0&api=1&player_id=player" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true")
    .close

  .overlay.dialog-overlay.white
    .center
      .steps.step1
        .title
          p Обирай форму допомоги нам
          .line
        .left
          img.lamp(src="/assets/lamp.png", alt="lamp")
          h5 прогресивна компанія
          a.dialog-button.as-company(href="") підтримати як організація
        .right
          img.transformer(src="/assets/transformer.png", alt="transformer")
          h5 прогресивна людина
          a.dialog-button.as-human(href="") підтримати як людина
      .steps.step2
        .title
          p допомоги нам як людина
          .line
        .block.first
          img.diamond(src="/assets/diamond.png", alt="diamond")
          h5 Фондуй
          p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor
          a.dialog-button(href="") допомогти матеріально
        .block.second
          img.super(src="/assets/super.png", alt="super")
          h5 Стань учасником
          p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor
          a.dialog-button(href="") долучитись
        .block.last
          h5 online store
          p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor
          a.dialog-button(href="") до асортименту
      .steps.step2c
        .title
          p допомоги нам як компанія
          .line
        .block.first
          img.diamond(src="/assets/diamond.png", alt="diamond")
          h5 Стати бізнес партнером
          p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor
          a.dialog-button(href="") долучитись
        .block.second
          img.super(src="/assets/super.png", alt="super")
          h5 допомогти грошима
          p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor
          a.dialog-button(href="") допомогти матеріально

      .steps.success-step
          img.success(src="/assets/success.png", alt="success")
          h5 Дякуємо! Вашу заявку прийнято
          p очікуйте лист відповідь на пошту
          a.close-link(href="#") закрити
    .back
    .close
