extends layout/default

block content
  include partials/header-grid
  section.partners
    h2 медіапартнери
      span 9
    .list
      img(src="/assets/partners/24.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="24")
      img(src="/assets/partners/inspired.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="inspired")
      img(src="/assets/partners/ua_modna.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="ua modna")
      img(src="/assets/partners/vezha.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="vezha")
      img(src="/assets/partners/like.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="like")
      img(src="/assets/partners/reporter.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="reporter")
      img(src="/assets/partners/402.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="402")
      img(src="/assets/partners/1043.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="1043")
      img(src="/assets/partners/gk.png", title='<h5>smm agency</h5><p>This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor</p><a href="http://smmagency.com.ua">Smmagency.com.ua</a>', alt="gk")
    .buttons
      a.button.red.support-button(href="#") підтримати
  
  include partials/overlays
