extends layout/default
block vars
  - var bodyClass = 'publications'
  - var title = 'Тепле Місто - Публікації'
block content
  section.publications
    .month
      h4 2014 жовтень
      ul
        li
          time
            | 24
            span жов
          .short-publication-item
            a(href="http://report.if.ua/gazeta/socium/sami-sobi-majstry/") Самі собі майстри
            p 
              a(href="http://report.if.ua") Газета "Репортер"
        li
          time
            | 23
            span жов
          .short-publication-item
            a(href="http://kurs.if.ua/blogs/persha_velodorizhka_frankivska_prolog_8327.html") Перша велодоріжка Франківська. Пролог
            p 
              a(href="http://kurs.if.ua") Інтернет-видання «Курс»
        li
          time
            | 23
            span жов
          .short-publication-item
            a(href="https://www.youtube.com/watch?v=1sX-wHKdwFg") 
              | Активісти й чиновники хочуть облаштувати на Набережній велодоріжку
            p 
              a(href="http://1043.com.ua/novyny/multimedia/videonovyny24.html") 24 канал
        li
          time
            | 22
            span жов
          .short-publication-item
            a(href="http://styknews.info/novyny/sotsium/2014/10/22/aktyvisty-podaly-do-ivano-frankivskoi-oda-ofitsiine-zvernennia-pro-oblasht") 
              | Активісти подали до Івано-Франківської ОДА офіційне звернення про облаштування велодоріжки на Набережній
            p 
              a(href="http://styknews.info") Інтернет-видання "Стик"
        li
          time
            | 22
            span жов
          .short-publication-item
            a(href="http://typical.if.ua/teple-velomisto-prosyt-oda-zrobyty-na-naberezhnij-pershu-v-ivano-frankivsku-velodorizhku/") 
              | «Тепле веломісто» просить ОДА зробити на Набережній першу в Івано-Франківську велодоріжку	 
            p 
              a(href="http://typical.if.ua") Інтернет-видання "Типовий Івано-Франківськ"
        li
          time
            | 22
            span жов
          .short-publication-item
            a(href="http://pravda.if.ua/news-65703.html") 
              | Незабаром Івано-Франківськ може отримати першу велодоріжку
            p 
              a(href="http://pravda.if.ua/") Інтернет-видання "Рravda.if.ua"
        li
          time
            | 22
            span жов
          .short-publication-item
            a(href="http://gk-press.if.ua/index.php?q=node/15350") 
              | В Івано-Франківську ініціюють створення велодоріжки на Набережній
            p 
              a(href="http://gk-press.if.ua/") Газета "Галицький Кореспондент"	
        li
          time
            | 22
            span жов
          .short-publication-item
            a(href="http://kurs.if.ua/news/na_vulytsi_naberezhniy_proponuyut_obladnaty_pershu_v_ivanofrankivsku_velodorizhku_8230.html") 
              | На Набережній пропонують обладнати першу в Івано-Франківську велодоріжку	 
            p 
              a(href="http://kurs.if.ua/") Інтернет-видання "Курс"
        li
          time
            | 17
            span жов
          .short-publication-item
            a(href="http://report.if.ua/gazeta/socium/osvita-dlya-vsih/") 
              | Освіта для всіх
            p 
              a(href="http://report.if.ua") Газета "Репортер"
        li
          time
            | 10
            span жов
          .short-publication-item
            a(href="http://report.if.ua/lyudy/restoran-urbanspace100-vidkryv-23-vakansiyi-dlya-frankivciv/") 
              | Ресторан Urban Space 100 відкрив 23 вакансії для франківців
            p 
              a(href="http://report.if.ua") Газета "Репортер"
        li
          time
            | 10
            span жов
          .short-publication-item
            a(href="http://report.if.ua/gazeta/socium/komanda-vidkryvaye-oblychchya/") 
              | Освіта для всіх
            p 
              a(href="http://report.if.ua") Газета "Репортер"
        li
          time
            | 03
            span жов
          .short-publication-item
            a(href="http://report.if.ua/gazeta/socium/shcho-take-dytyachyj-prostir/") 
              | Що таке дитячий простір?
            p 
              a(href="http://report.if.ua") Газета "Репортер"
    .month
      h4 2014 вересень
      ul
        li
          time
            | 29
            span вер
          .short-publication-item
            a(href="http://galka.if.ua/ivano-frankivskom-proyihavsya-pershiy-velopatrul/") 
              | Івано-Франківськом проїхався перший велопатруль
            p 
              a(href="http://galka.if.ua") Інтернет-видання "Галка"
        li
          time
            | 29
            span вер
          .short-publication-item
            a(href="http://www.blitz.if.ua/?q=news&id=21588") 
              | На франківських велосипедистів полювали "патрулі"
            p 
              a(href="http://blitz.if.ua") Інтернет-видання "Бліц Інфо"
        li
          time
            | 29
            span вер
          .short-publication-item
            a(href="http://briz.if.ua/23876.htm") 
              | Громадський велопатруль запрацював в Івано-Франківську
            p 
              a(href="http://briz.if.ua") Інтернет-видання "Бріз"
        li
          time
            | 29
            span вер
          .short-publication-item
            a(href="http://firtka.if.ua/?action=show&id=60035") 
              | В Івано-Франківську відчергував перший велопатруль
            p 
              a(href="http://firtka.if.ua") Інтернет-видання "Фіртка"
        li
          time
            | 29
            span вер
          .short-publication-item
            a(href="http://kurs.if.ua/news/v_ivanofrankivsku_vidbuvsya_pershyy_velopatrul_7026.html") 
              | В Івано-Франківську відбувся перший "Велопатруль"
            p 
              a(href="http://kurs.if.ua") Інтернет-видання "Курс"
        li
          time
            | 29
            span вер
          .short-publication-item
            a(href="http://report.if.ua/lyudy/u-frankivsku-za-poryadkom-slidkuvav-velopatrul/") 
              | В Івано-Франківську за порядком слідкував велопатруль
            p 
              a(href="http://report.if.ua") Газета "Репортер"
        li
          time
            | 26
            span вер
          .short-publication-item
            a(href="http://report.if.ua/gazeta/socium/malenka-vidstan-mizh-lyudmy/") 
              | Маленька відстань між людьми
            p 
              a(href="http://report.if.ua") Газета "Репортер"
        li
          time
            | 25
            span вер
          .short-publication-item
            a(href="http://galka.if.ua/u-frankivsku-vidbudetsya-aktsiya-pedalyuy-kulturno-i-bezpechno/") 
              |  У Франківську відбудеться акція «Педалюй культурно і безпечно»
            p 
              a(href="http://galka.if.ua") Інтернет-видання "Галка"
        li
          time
            | 21
            span вер
          .short-publication-item
            a(href="http://www.youtube.com/watch?v=zZcD-6vlBLg&index=71&list=UUwgTXKnYPE0XHz5G3bniuRA") 
              |   Замість дитячих майданчиків у центрі міста створять "дитяче середовище"
            p 
              a(href="http://1043.com.ua/novyny/multimedia/videonovyny24.html") 24 канал
        li
          time
            | 19
            span вер
          .short-publication-item
            a(href="http://report.if.ua/gazeta/socium/urban-space-vid-a-do-ya/") 
              | «Urban Space» від «А» до «Я»
            p 
              a(href="http://report.if.ua") Газета "Репортер"
        li
          time
            | 19
            span вер
          .short-publication-item
            a(href="http://versal-online.com.ua/%D1%82%D0%B5%D0%BF%D0%BB%D0%B5-%D0%BC%D1%96%D1%81%D1%82%D0%BE-%D1%82%D0%B0-%D0%BC%D0%B0%D0%BC%D0%B8-%D0%BF%D1%80%D0%B8%D0%BA%D0%B0%D1%80%D0%BF%D0%B0%D1%82%D1%82%D1%8F-%D0%BF/") 
              | «ТЕПЛЕ МІСТО» та «Мами Прикарпаття» презентували новий проект «МІСТО ДРУЖНЄ ДО ДІТЕЙ»
            p 
              a(href="http://versal-online.com.ua") Журнал "Версаль"
        li
          time
            | 19
            span вер
          .short-publication-item
            a(href="http://vezha.org/v-ivano-frankivsku-startuvav-proekt-misto-druzhnye-ditej/") 
              | В Івано-Франківську стартував проект “Місто дружнє до дітей” (ВІДЕО)
            p 
              a(href="http://vezha.org") ТРК Вежа
        li
          time
            | 18
            span вер
          .short-publication-item
            a(href="http://report.if.ua/lyudy/v-ivano-frankivsku-arhitektory-zmagatymutsya-za-krashchyj-dytyachyj-prostir/") 
              | В Івано-Франківську архітектори змагатимуться за кращий дитячий простір	
            p 
              a(href="http://report.if.ua") Газета "Репортер"
        li
          time
            | 18
            span вер
          .short-publication-item
            a(href="http://kurs.if.ua/news/u_frankivsku_startuvav_konkurs_na_dytyachyy_prostir_6545.html") 
              | У Франківську стартував конкурс на дитячий простір
            p 
              a(href="http://kurs.if.ua") Інтернет-видання "Курс"
        li
          time
            | 12
            span вер
          .short-publication-item
            a(href="http://report.if.ua/gazeta/socium/teple-misto-viden-na-gryunvaldskij/") 
              | Тепле місто. Відень на Грюнвальдській
            p 
              a(href="http://report.if.ua") Газета "Репортер"
        li
          time
            | 05
            span вер
          .short-publication-item
            a(href="http://report.if.ua/gazeta/socium/na-vulycyah-velopatrul/") 
              | На вулицях – велопатруль
            p 
              a(href="http://report.if.ua") Газета "Репортер"
        li
          time
            | 04
            span вер
          .short-publication-item
            a(href="http://pb.platfor.ma/urban-space-100/") 
              | Ресторанна сотня: 100 людей створять урбан-ресторан в Івано-Франківську	
            p 
              a(href="http://pb.platfor.ma") Інтернет-видання "Платформа"	
        li
          time
            | 04
            span вер
          .short-publication-item
            a(href="http://life.pravda.com.ua/society/2014/09/4/179599/") 
              |  «Теплий Івано-Франківськ. Як активісти змінюють місто»	
            p 
              a(href="http://life.pravda.com.ua") Інтернет-видання "Українська Правда Життя"
              
    .month
      h4 2014 серпень
      ul
        li
          time
            | 13
            span сер
          .short-publication-item
            a(href="http://inspired.com.ua/design/frankivsk-branding/") 
              | Бренд Івано-Франківська: як налагодити співпрацю з містом
            p 
              a(href="http://inspired.com.ua") Інтернет-видання "Inspired"
        li
          time
            | 11
            span сер
          .short-publication-item
            a(href="http://www.theinsider.ua/lifestyle/teple-misto-urban-initsiativi-ivano-frankivska/") 
              | Тепле місто: урбан-ініціативи Івано-Франківська
            p 
              a(href="http://www.theinsider.ua") Інтернет-видання "Insider"
        li
          time
            | 03
            span сер
          .short-publication-item
            a(href="http://biggggidea.com/practices/1365/") 
              | Між гарячим і холодним. Про нову айдентику Івано-Франківська: як дієві містяни беруть справу в свої руки
            p 
              a(href="http://biggggidea.com") Медіа-платформа "Велика Ідея"	

    .month
      h4 2014 липень
      ul
        li
          time
            | 31
            span лип
          .short-publication-item
            a(href="http://www.galychyna.if.ua/publication/society/jurii-filjuk-khochu-shchob-ivano-frankivsk-stav-bezkompro/print.html") 
              | Юрій Филюк: Хочу, щоб Івано-Франківськ став безкомпромісно класним, прогресивним і багатим містом
            p 
              a(href="http://www.galychyna.if.ua/") Газета "Галичина"
        li
          time
            | 21
            span лип
          .short-publication-item
            a(href="http://www.uamodna.com/articles/v-ivano-frankivsjku-vidkryyutj-pershyy-v-ukrayini-gromadsjkyy-restoran/") 
              | В Івано-Франківську відкриють перший в Україні громадський ресторан	
            p 
              a(href="http://www.uamodna.com") Інтернет-видання "UA Modna"
        li
          time
            | 17
            span лип
          .short-publication-item
            a(href="https://www.youtube.com/watch?v=eIXZlvM4POI") 
              | У місті з'явиться унікальний громадський ресторан із сотнею засновників	
            p 
              a(href="http://1043.com.ua/novyny/multimedia/videonovyny24.html") 24 канал
        li
          time
            | 15
            span лип
          .short-publication-item
            a(href="http://iftic.com.ua/?p=1305#more-1305") 
              | В Івано-Франківську відкриють унікальний ресторан, прибутки якого ітимуть на благо міста
            p 
              a(href="http://iftic.com.ua") Регіональний туристично-інформаційний центр
    .month
      h4 2014 червень
      ul
        li
          time
            | 22
            span чер
          .short-publication-item
            a(href="http://vikna.if.ua/news/category/if/2014/06/22/18938/view") 
              | Як новий візуальний стиль Івано-Франківська підкорив Монблан	
            p 
              a(href="http://vikna.if.ua/") Інтернет-видання "Вікна"

    .month
      h4 2014 квітень
      ul
        li
          time
            | 25
            span кві
          .short-publication-item
            a(href="http://www.times.if.ua/Ivano-Frankivsk/ivano-frankivsk-peretvoryuetsya-u-teple-misto.html") 
              | Івано-Франківськ перетворюється у "тепле місто"	
            p 
              a(href="http://times.if.ua/") Інтернет-видання "Франко Таймс"	
        li
          time
            | 18
            span кві
          .short-publication-item
            a(href="http://pb.platfor.ma/sam-sobi-brend-noviy-firmoviy-styl-ivan-frankivska/") 
              |  Сам собі бренд: новий фірмовий стиль Івано-Франківська	
            p 
              a(href="http://pb.platfor.ma/") Інтернет-видання "Платформа"	
        li
          time
            | 09
            span кві
          .short-publication-item
            a(href="http://vezha.org/ivano-frankivsk-hochut-peretvoryty-u-progresyvne-suchasne-teple-misto-video/") 
              | Івано-Франківськ хочуть перетворити у прогресивне сучасне “тепле місто” (відео)
            p 
              a(href="http://vezha.org/") ТРК Вежа	
        li
          time
            | 08
            span кві
          .short-publication-item
            a(href="http://gk-press.if.ua/node/11574#.Uy_lzCUA84c.facebook") 
              | Бренд Франківська оживає	
            p 
              a(href="http://gk-press.if.ua/") Газета "Галицький Кореспондент"
        li
          time
            | 08
            span кві
          .short-publication-item
            a(href="http://pravda.if.ua/news-53402.html") 
              | Івано-Франківськ - «Тепле місто»	
            p 
              a(href="http://pravda.if.ua/") Інтернет-видання "Рravda.if.ua"	
        li
          time
            | 01
            span кві
          .short-publication-item
            a(href="http://comma.com.ua/articles/roman_gavrish_pro_mista_maybutnogo_ta_stil_ivano_frankivska") 
              | Роман Гавриш про міста майбутнього та візуальний стиль Івано-Франківська	
            p 
              a(href="http://comma.com.ua/")  Інтернет-видання "Комма"
    .month
      h4 2014 березень
      ul
        li
          time
            | 11
            span бер
          .short-publication-item
            a(href="http://life.pravda.com.ua/society/2014/03/11/156865/") 
              |  У Івано-Франківська з'явився новий фірмовий стиль	
            p 
              a(href="http://life.pravda.com.ua/") Інтернет-видання "Українська Правда Життя"
