extends layout/default
block vars
  - var bodyClass = 'publications'

block content
  section.publications
    .month
      h4 2014 жовтень
      ul
        li
          time
            | 27
            span жов
          .short-publication-item
            a(href="http://news.if.ua") Назва статті про середовище “Тепле місто”, що є посиланням на першоджерело на інші ресурси
            p 
              a(href="http://news.if.ua") Назва першоджерела з посиланням на нього
        li
          time
            | 27
            span жов
          .short-publication-item
            a(href="http://news.if.ua") Назва статті про середовище “Тепле місто”, що є посиланням на першоджерело на інші ресурси
            p 
              a(href="http://news.if.ua") Назва першоджерела з посиланням на нього
        li
          time
            | 27
            span жов
          .short-publication-item
            a(href="http://news.if.ua") Назва статті про середовище “Тепле місто”, що є посиланням на першоджерело на інші ресурси
            p 
              a(href="http://news.if.ua") Назва першоджерела з посиланням на нього
    .month
      h4 2014 вересень
      ul
        li
          time
            | 13
            span вер
          .short-publication-item
            a(href="http://news.if.ua") Назва статті про середовище “Тепле місто”, що є посиланням на першоджерело на інші ресурси
            p 
              a(href="http://news.if.ua") Назва першоджерела з посиланням на нього
        li
          time
            | 21
            span вер
          .short-publication-item
            a(href="http://news.if.ua") Назва статті про середовище “Тепле місто”, що є посиланням на першоджерело на інші ресурси
            p 
              a(href="http://news.if.ua") Назва першоджерела з посиланням на нього
        li
          time
            | 27
            span вер
          .short-publication-item
            a(href="http://news.if.ua") Назва статті про середовище “Тепле місто”, що є посиланням на першоджерело на інші ресурси
            p 
              a(href="http://news.if.ua") Назва першоджерела з посиланням на нього
