extends ../layout/default

block vars
    - var bodyClass = 'project'

block content
    section.header-image(style="background-image: url('/assets/projects/velo-misto-head.jpg');")
        .container
            h2 Тепле Веломісто
            p Просування велосипедів як найбільш раціонального та екологічного міського транспорту.
    section.project.user-text
        p.
            Ми просуваємо велосипед як найбільш раціональний і прогресивний міський транспорт. Наша ціль - зробити Івано-Франківськ найвелосипеднішим містом Центрально-Східної Європи, довівши частку велосипедних поїздок до 41%. Для цього в міста є ідеальні передумови:
        ul
            li Компактність – діаметр міста близько 5 км, середня відстань пересувань - від 1 до 2,5 км.
            li Плаский рельєф – відсутність пагорбів, річок чи інших природних перешкод.
            li Безпечні вулиці – переважна більшість вулиць мають одну смугу руху в кожному напрямку, багато вулиць мають односторонній рух.

        h3 Напрямки роботи

        p
            strong Зручність
            |  користування велосипедами в місті. Це включає зв’язану і максимальнопряму велосипедну мережу (вулиці, доріжки, смуги, дороги, проїзди, мости), доступність паркових і пішохідних зон, а також розвинену мережу велопарковок.
        p
            strong Безпека
            |  , транспортна і соціальна. Наша ціль - “Vision Zero”, що означає нуль смертельних випадків і тяжких травм велосипедистів і пішоходів, і також нуль випадків крадіжок велосипедів і пограбування велосипедистів.
        p
            strong Велокультура.
            |  Велосипед є органічною і поважною частиною міського життя. Велосипедисти є вихованими і культурними учасниками руху, тому ставлення до них максимально позитивне.
        p
            strong Рекреація.
            |  Місто є ідеальним для велосипедного відпочинку, має безліч варіантів коротких і довгих рекреаційних велопоїздок для людей від 4 до 99 років, всі парки і зелені зони у місті і навколо нього пов’язані мережею маршрутів, а місто пов’язане довшими маршрутами з іншими населеними пунктами.

        .assets
            img.map(src="/assets/projects/shop-map.jpg", alt="map")

        h3 Проекти, 2014

        p Зручність користування велосипедами в місті. Це включає зв’язану і максимальнопряму велосипедну мережу (вулиці, доріжки, смуги, дороги, проїзди, мости), доступність паркових і пішохідних зон, а також розвинену мережу велопарковок.
        p Безпека, транспортна і соціальна. Наша ціль - “Vision Zero”, що означає нуль смертельних випадків і тяжких травм велосипедистів і пішоходів, і також нуль випадків крадіжок велосипедів і пограбування велосипедистів.
        p Велокультура. Велосипед є органічною і поважною частиною міського життя. Велосипедисти є вихованими і культурними учасниками руху, тому ставлення до них максимально позитивне.
        p Рекреація. Місто є ідеальним для велосипедного відпочинку, має безліч варіантів коротких і довгих рекреаційних велопоїздок для людей від 4 до 99 років, всі парки і зелені зони у місті і навколо нього пов’язані мережею маршрутів, а місто пов’язане довшими маршрутами з іншими населеними пунктами.
