extends ../layout/default
block vars
  - var bodyClass = 'project'
  - var title = 'Тепле Місто - Проект "Теплий Арт"'
block content
  section.header-image(style="background-image: url('/assets/projects/art-head.jpg');")
    .container
      h2 Теплий Арт
      //- p Проект із розробки візуальної ідентичності Івано-Франківська. У 2014 р. містоотримало новий логотип, правила розміщення вуличної навігації та рекомендації із впорядкування зовнішньої реклами на фасадах будинків.

  section.project.user-text
    p 
      b Теплий Арт 
      | &mdash; це концепція традиційних європейських практик розвитку мистецького середовища. Мета Теплого Арту – доповнити культурний ландшафт і вплинути на загальну статику мистецького середовища Івано-Франківська, окреслити локальну культурну парадигму як площадку для творчих практик людей креативного способу мислення. 
    p 
      b Теплий Арт 
      | &mdash; урбаністичний проект. Місто є творчим полем, у взаємодії з яким народжуються ідеї, невід’ємно пов’язані з топосом, в якому вони створені. Теплий Арт побудований на ідеї розвитку творчого середовища в умовах урбаністичного простору. Його проекти покликані вивести місто на рівень глобальної комунікації, з метою побудови мистецьких зв’язків та ретрансляції культурних кодів, генерованих в окресленому культурному середовищі, на міжнародний рівень. Завданням Теплого Арту є створення передумов культурного обміну, що допомагає порозумінню та комунікації. 
    p 
      b Теплий Арт 
      | відкриває нові горизонти розвитку художнього середовища в Івано-Франківську, котре може стати місцем зустрічі художників різних жанрів сучасного мистецтва, дизайнерів та митців для спільної творчості, обговорення, обміну ідеями, експериментів, існуючих на межі різних жанрів і пошуку можливості їхнього об'єднання. Проект покликаний трансформувати місто у постійно діючий, відкритий майданчик творчих лабораторій. 
    p 
      b Теплий Арт 
      | &mdash; це розвиток концепції, що місто є платформою для креативної творчості, в якому, по суті, будь-який простір може стати площадкою для творчості.
      

    p.right
      span.st_facebook_large(displayText='Facebook')
      span.st_twitter_large(displayText='Tweet')
      span.st_vkontakte_large(displayText='Vkontakte')
      span.st_googleplus_large(displayText='Google +')
