extends ../layout/default
block vars
  - var bodyClass = 'project'

block content
  section.header-image.bike
    .container
      h2 Тепле Веломісто
      p Просування велосипедів як найбільш раціонального та екологічного міського транспорту .

  section.project
    p 
      | Ми просуваємо велосипед як найбільш раціональний і прогресивний міський транспорт. Наша ціль - зробити Івано-Франківськ найвелосипеднішим містом Центрально-Східної Європи, довівши частку велосипедних поїздок до 41%. Для цього в міста є ідеальні передумови:
      ul
        li Компактність – діаметр міста близько 5 км, середня відстань пересувань - від 1 до 2,5 км.
        li Плаский рельєф – відсутність пагорбів, річок чи інших природних перешкод.
        li Безпечні вулиці – переважна більшість вулиць мають одну смугу руху в кожному напрямку, багато вулиць мають односторонній рух.
    
    h5 Напрямки роботи
    
    p 
      b Зручність 
      | користування велосипедами в місті. Це включає зв’язану і максимальнопряму велосипедну мережу (вулиці, доріжки, смуги, дороги, проїзди, мости), доступність паркових і пішохідних зон, а також розвинену мережу велопарковок.
    p 
      b Безпека
      | , транспортна і соціальна. Наша ціль - “Vision Zero”, що означає нуль смертельних випадків і тяжких травм велосипедистів і пішоходів, і також нуль випадків крадіжок велосипедів і пограбування велосипедистів.
    p 
      b Велокультура
      |. Велосипед є органічною і поважною частиною міського життя. Велосипедисти є вихованими і культурними учасниками руху, тому ставлення до них максимально позитивне.
    p 
      b Рекреація
      |. Місто є ідеальним для велосипедного відпочинку, має безліч варіантів коротких і довгих рекреаційних велопоїздок для людей від 4 до 99 років, всі парки і зелені зони у місті і навколо нього пов’язані мережею маршрутів, а місто пов’язане довшими маршрутами з іншими населеними пунктами.

    h5 Проекти, 2014
    
    p 
      b Велопарковки: 
      | здійснено аудит існуючих парковок, розроблено методичні рекомендації, розпочато кампанію та консультації з встановлення нових парковок біля закладів торгівлі та обслуговування.
 
    p 
      b Велокультура: 
      | запущено проект "Велопатруль", коли волонтери-патрульні проводять розмови з велосипедистами і надають друковані матеріали з безпечної їзди на велосипеді.
 
    p
      b Велодоріжки: 
      | розпочатогромадське лобіювання зі створення велодоріжки на Набережній ім. В.Стефаника, участь в розробці міської Програми розвитку велотранспорту на 2015-2020 роки.

    a.add-top-space(href="https://www.facebook.com/bikeIF") https://www.facebook.com/bikeIF
