extends ../layout/default
block vars
  - var bodyClass = 'project'
  - var title = 'Тепле Місто - Проект "Дитячий міський простір"'

block content
  section.header-image(style="background-image: url('/assets/projects/child-space-head.jpg');")
    .container
      h2 Дитячий міський простір
      p Міжнародний архітектурний конкурс зі створення сучасних і органічних дитячих просторів у Івано-Франківську.

  section.project.user-text
    p Громадські простори Івано-Франківська недостатньо добре пристосовані для проведення дозвілля людьми різних вікових груп.
    p Мета міжнародного архітектурного конкурсу – створення проекту якісного громадського простору у середмісті для проведення дозвілля дітей, сімей з дітьми та туристів, що подорожують з дітьми.
    p Проект реалізовується Середовищем «Тепле Місто», ГО «Мами Прикарпаття» і Департаментом містобудування та архітектури Івано-Франківської міської ради

    p.add-top-space
      a(href="https://www.facebook.com/childfriendlypublicspace") https://www.facebook.com/childfriendlypublicspace

    p.right
      span.st_facebook_large(displayText='Facebook')
      span.st_twitter_large(displayText='Tweet')
      span.st_vkontakte_large(displayText='Vkontakte')
      span.st_googleplus_large(displayText='Google +')
