extends ../layout/default
block vars
  - var bodyClass = 'project'

block content
  section.header-image(style="background-image: url('/assets/projects/city-brand-head.jpg');")
    .container
      h2 Візуальний стиль міста
      p Проект із розробки візуальної ідентичності Івано-Франківська. У 2014 р. містоотримало новий логотип, правила розміщення вуличної навігації та рекомендації із впорядкування зовнішньої реклами на фасадах будинків.

  section.project.user-text
    p Спочатку була ідея – перетворити Івано-Франківськ на естетичне та привабливе місто.Потім було рішення - об’єднати заради цієї мети небайдужих людей. Так виникла “Ініціатива створення візуального стилю Івано-Франківська”, яку підтримали сотні іванофранківців і профінансували 46 меценатів. Проект реалізувала компанія «Aimbulance» (м. Київ) і дизайнер Йован Роцанов (Jovan Rocanov), один із найкращих спеціалістів із айдентики в Європі. Результат: у 2014 році в Івано-Франківську було представлено новий візуальний стиль міста. 
    p Новий логотип увійшов у short-list фестивалю реклами “Каннські леви”в категорії Large Scale Logo, та став одним із 5-ти кращих логотипів у світі в 2014 р.
    .assets
      iframe#player(src="//player.vimeo.com/video/94954902?title=0&byline=0&portrait=0&api=1&player_id=player" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true")
    
    h5 У рамках проекту виготовлена сувенірна продукція, яка швидко стала популярною серед мешканців і гостей міста.
    .assets
      p Придбати сувеніри можна тут:
      img.map(src="/assets/projects/shop-map.jpg", alt="map")

    p Логотип знаходиться у вільному доступі. При використанні в своїх розробках дотримуйтесь правил його застосування та погодьте із нами макет.
    
    p.add-top-space
      | Правила використання&nbsp;
      a(href="#") city-brand.if.ua
    p 
      | Презентація&nbsp;
      a(href="#") city-brand.if.ua
