extends ../layout/default
block vars
  - var bodyClass = 'project'
  - var title = 'Тепле Місто - Інші проекти'
block content
  section.header-image(style="background-image: url('/assets/projects/urbanspace-head.jpg')")
    .container
      h2 Інші проекти
      

  section.project.user-text
    h5 Тепле IT-середовище
    p Івано-Франківськ має потенціал бути серед лідерів по кількості ІТ-спеціалістів. Створення конкурентних умов для фахівців заради їхнього вибору на користь нашого міста.
 
    h5 Тепла Освіта
    p Розвиток неакадемічної освіти у місті у вигляді дискусійних майданчиків, відкритих університетів, ворк-шопів, конференцій TEDx, розмовних клубів іноземних мов
 
    h5 Теплі фестивалі
    p Організація і сприяння проведенню нових якісних і цікавих фестивалів, які хотіли відвідати би кияни, донеччани, одесити, львів’яни, рівно як і мешканці Берліну, Парижу чи Відня.
 
    h5 Теплі заклади
    p Створення єдиних стандартів «Сучасного Теплого закладу» для міста Івано-Франківськ: підняття якості обслуговування, створення теплої атмосфери і сталого бажання повертатися знову.
 
    h5 Теплий туристичний посібник
    p Розробка єдиної платформи для об’єднання та динамічного висвітлення всього «теплого», що створюється в місті
