extends ../layout/default
block vars
  - var bodyClass = 'project'

block content
  section.header-image(style="background-image: url('/assets/projects/post-cards-head.jpg');")
    .container
      h2 Теплі Поштівки
      p Творчо-промоційна ініціатива зі створення та розповсюдження сучасних і привабливих поштівок про Івано-Франківськ.

  section.project.user-text
    p 
      | Ми прагнемо, щоб гості міста могли отримати на згадку про Івано-Франківськ якісну та теплу поштівку. А мешканці - надсилати їх своїм друзям до інших міст України та світу.

    p.add-top-space
      a(href="https://www.facebook.com/warmcards") https://www.facebook.com/warmcards
