extends ../layout/default
block vars
  - var bodyClass = 'project'

block content
  section.header-image.post-cards
    .container
      h2 Теплі Поштівки
      p Творчо-промоційна ініціатива зі створення та розповсюдження сучасних і привабливих поштівок про Івано-Франківськ.

  section.project
    p 
      | Ми прагнемо, щоб гості міста могли отримати на згадку про Івано-Франківськ якісну та теплу поштівку. А мешканці - надсилати їх своїм друзям до інших міст України та світу.
      
    a.add-top-space(href="https://www.facebook.com/warmcards") https://www.facebook.com/warmcards
