extends ../layout/default
block vars
  - var bodyClass = 'project'
  - var title = 'Тепле Місто - Проект "Виїзні резиденції"'

block content
  section.header-image(style="background-image: url('/assets/projects/residences-head.jpg');")
    .container
      h2 Виїзні резиденції
      p Навчання, зустрічі та конференції, що сприяють розвитку середовища “Тепле Місто". Подорожі для натхнення, ідей та обміну досвідом.

  section.project.user-text
    p 
      | Виїзні резиденції створені для організацій творчих і дослідницьких поїздок до інших міст України та закордону для здобуття знань та натхнення. Під час таких поїздок проходять зустрічі, конференції, воркшопи, де ми працюємо з експертами з питань, які цікаві для розвитку Івано-Франківська: дизайн простору, архітектура, вулична навігація, енергоефективність, мобільність, розвиток культури та багато інших. З кожної резиденції ми привозимо досвід, ідеї та знання, які використовуємо у власних проектах.
    p 
      | Перша виїзна резиденція франківських дизайнерів і архітекторів у Відень (Австрія) і Братиславу (Словаччина) відбулася у 2014 році&nbsp;
      a(href="https://lit-reef-3071.herokuapp.com/cr-viena/") переглянути звіт на http://www.nazovni.org.ua/ 

    p.right
      span.st_facebook_large(displayText='Facebook')
      span.st_twitter_large(displayText='Tweet')
      span.st_vkontakte_large(displayText='Vkontakte')
      span.st_googleplus_large(displayText='Google +')
