extends ../layout/default
block vars
  - var bodyClass = 'project'

block content
  section.header-image(style="background-image: url('/assets/projects/signs-head.jpg');")
    .container
      h2 Вивіски
      p Створення візуально привабливих вивісок зі збереженням естетики середовища та врахуванням архітектурних особливостей будівель.

  section.project.user-text
    p 
      em Наша мета &mdash; естетично привабливе, красиве та сучасне місто з власною ідентичністю.
    p Зараз історичні фасади середмістя, архітектурні ансамблі та пам'ятки старовини приховані за яскравою та недоречною рекламою.
    p В нашому розумінні фасади будівель &mdash;  пріоритет. Вивіска на них &mdash; декоративний елемент, який повинен підкреслити вигляд будівлі, а не псувати його.
 
    p Основна робота з вивісками &mdash; це формування правильного сприйняття цього елементу фасаду і розробка власних візуальних пропозицій європейського рівня.
    
      
    //- a.add-top-space(href="https://www.facebook.com/childfriendlypublicspace") https://www.facebook.com/childfriendlypublicspace
