extends ../layout/default
block vars
  - var bodyClass = 'project'

block content
  header
    a(href="/")
      img.logo(src='/assets/logo.png')
    nav
      ul
        //- li.title тепле місто
        li
          a(href="/#projects") Проекти
        li
          a(href="/#info") про нас
        li
          a(href="partners.html") партнери
        li
          a(href="publications.html") публікації
        li
          a(href="faq.html") faq
    ul.languages
      li
        a(href="#") ua
      li
        a(href="#") en

  section.header-image.urbanspace
    .container
      h2 Urban Space 100
      p Перший в Україні громадський ресторан, прибуток якого направляється винятково на реалізацію проектів розвитку міста.

  section.project
    p Urban Space 100 – це соціальне підприємство у форматі ресторану.
    p.space-after Основна ідея проекту - створити громадський ресторан в Івано-Франківську, що стане успішним прикладом об’єднання соціально активних людей навколо ідеї розвитку свого міста. Унікальність його полягає в тому, що прибуток ресторану направляється винятково на реалізацію громадських проектів Івано-Франківська. А засновниками закладу є 100 прогресивних людей.

    p Також Urban Space 100 - це фізична платформа для середовища «Тепле Місто». 
    p Відкриття закладу заплановано на грудень 2014 р.
    
    a.add-top-space(href="http://urbanspace.if.ua") urbanspace.if.ua
  section.contacts
    .container
      .email
        span.icon
        | warmif@gmail.com

      .adress
        span.icon
        | м. Івано-Франківськ, вул. Тринітарська 11, офіс 9

      .socials
        a.twitter(href="https://twitter.com/WarmCityIF")
          img(src="/assets/icon-twitter.png")
        a.facebook(href="https://www.facebook.com/warmifua")
          img(src="/assets/icon-facebook.png")

  section.footer
    span.made-in Made in Ivano-Frankivsk
    span.warm-city Warm-city 2014
    a.webmil(href='http://webmil.com.ua')
      img(src="/assets/webmil-logo.png")
