extends ../layout/default
block vars
  - var bodyClass = 'project'
  - var title = 'Тепле Місто - Проект "Urban Space 100"'

block content
  section.header-image(style="background-image: url('/assets/projects/urbanspace-head.jpg');")
    .container
      h2 Urban Space 100
      p Перший в Україні громадський ресторан, прибуток якого направляється винятково на реалізацію проектів розвитку міста.

  section.project.user-text
    p Urban Space 100 – це соціальне підприємство у форматі ресторану.
    p.add-space Основна ідея проекту - створити громадський ресторан в Івано-Франківську, що стане успішним прикладом об’єднання соціально активних людей навколо ідеї розвитку свого міста. Унікальність його полягає в тому, що прибуток ресторану направляється винятково на реалізацію громадських проектів Івано-Франківська. А засновниками закладу є 100 прогресивних людей.

    p Також Urban Space 100 - це фізична платформа для середовища «Тепле Місто». 
    p Відкриття закладу заплановано на грудень 2014 р.

    p.add-top-space
      a(href="http://urbanspace.if.ua") urbanspace.if.ua
