section.header-image
  h1 Середовище «Тепле Місто»
  h2 Об’єднує людей і бізнеси, які підтримують ідеї та дії щодо сталого розвитку Івано-Франківська
  a.button.red.support-button(href="#step1") підтримати
  h3
    span.rating-link(style="display:inline")
      | Рейтинг
      .rating-overlay
        .rating-overlay__text
          p.rating-overlay__first.
            Сьогодні ініціативи Теплого Міста визнані одними із найбільш дієвих і прогресивних в Україні
          p.rating-overlay__second.
            Про проекти середовища пишуть і говорять такі відомі видання і ресурси, як Inspired,
            UA&nbsp;Modna, Big&nbsp;Idea, Платформа, Українська&nbsp;правда, ТРК&nbsp;Україна
          p.rating-overlay__third.
            Бізнеси, які підтримують дані ідеї і дії, безперечно, можна також вважати прогресивними.
            Таким чином, ми формуємо Рейтинг 50 найпрогресивніших компаній міста.
            В нашому рейтингу немає перших чи других: ми об’єднуємо соціально-відповідальні компанії,
            які прагнуть розвивати своє місто

    |  Топ-50 найпрогресивніших компаній міста

  ul.companies
    li
    li
    li
      .content.white
        a(href="http://23restorany.ua", title='<h5>«23 ресторани»</h5><p> Генеральний партнер</p><a href="http://23restorany.ua">23restorany.ua</a>')
          img(src="/assets/companies/23.jpg", data-hover="/assets/companies/23-hover.jpg")
    li
    li
      .content.white
        a(href="http://softjourn.com", title='<h5>«SoftJourn»</h5><p>Генеральний партнер</p><a href="http://softjourn.com">softjourn.com</a>')
          img(src="/assets/companies/softjourn.jpg", data-hover="/assets/companies/softjourn-hover.jpg")
    li
    li
    li
      .content.white
        a(href="#", title='<h5>«Корона Захід»</h5><p> Генеральний партнер</p>')
          img(src="/assets/companies/koranazahid.jpg", data-hover="/assets/companies/koronazahid-hover.jpg")
    li
    li
    li
    li
      .content.white
        a(href="http://beton.if.ua", title='<h5>«Завод якісних бетонів»</h5><p> Партнер</p><a href="http://beton.if.ua">beton.if.ua</a>')
          img(src="/assets/companies/zyb.jpg", data-hover="/assets/companies/zyb-hover.jpg")
    li
    li
    li
    li
    li
      .content.white
        a(href="http://cosmo-travel.com.ua/", title='<h5>«CosmoTravel»</h5><p>Партнер</p><a href="http://cosmo-travel.com.ua">cosmo-travel.com.ua</a>')
          img(src="/assets/companies/cosmo-travel.jpg", data-hover="/assets/companies/cosmo-travel-hover.jpg")
            
    li
    li
      .content.white
        a(href="http://fil-bud.if.ua", title='<h5>«Спілка забудовників»</h5><p> Партнер</p><a href="http://fil-bud.if.ua">fil-bud.if.ua</a>')
          img(src="/assets/companies/szif.jpg", data-hover="/assets/companies/szif-hover.jpg")
    li
    li
      .content.white
        a(href="http://bastion-if.com.ua", title='<h5>«Фортечна галерея Бастіон»</h5><p>Партнер</p><a href="http://bastion-if.com.ua">bastion-if.com.ua</a>')
          img(src="/assets/companies/bastion.jpg", data-hover="/assets/companies/bastion-hover.jpg")

    li      
    li

    li
      .content.white
        a(href="http://chicken-hut.com.ua", title='<h5>«Сhicken Hut»</h5><p>Партнер</p><a href="http://chicken-hut.com.ua">chicken-hut.com.ua</a>')
          img(src="/assets/companies/chickenhut.jpg", data-hover="/assets/companies/chickenhut-hover.jpg")


    li
    li
      .content.white
        a(href="http://yogaifschool.com", title='<h5>«YogaIfSchool»</h5><p>Спонсор</p><a href="http://yogaifschool.com">yogaifschool.com</a>')
          img(src="/assets/companies/yoga.jpg", data-hover="/assets/companies/yoga-hover.jpg")

    li
    li
      .content.white
        a(href="http://lex-consulting.ua", title='<h5>«Lex Consulting»</h5><p>Консалтинговий партнер</p><a href="http://lex-consulting.ua">lex-consulting.ua</a>')
          img(src="/assets/companies/lex.jpg", data-hover="/assets/companies/lex-hover.jpg")

    li
    li

    li
    li
      .content.white
        a(href="https://facebook.com/parasolya", title='<h5>«Парасоля»</h5><p>Консалтинговий партнер</p><a href="https://facebook.com/parasolya">facebook.com/parasolya</a>')
          img(src="/assets/companies/parasolya.jpg", data-hover="/assets/companies/parasolya-hover.jpg")
    li
    li
    li
    li
      .content.white
        a(href="https://facebook.com/woosmm", title='<h5>«WOO SMM Agency»</h5><p>Консалтинговий партнер</p><a href="http://facebook.com/woosmm">facebook.com/woosmm</a>')
          img(src="/assets/companies/woo.jpg", data-hover="/assets/companies/woo-hover.jpg")

    li
    li
    li
    li
    li
    li
    li
      .content.white
        a(href="http://webmil.com.ua", title='<h5>«Webmil»</h5><p>Технічний партнер</p><a href="http://webmil.com.ua">webmil.com.ua</a>')
          img(src="/assets/companies/webmil.jpg", data-hover="/assets/companies/webmil-hover.jpg")
    li
      .content.white
        a(href="http://sint.if.ua", title='<h5>«СІНТ-Майстер»</h5><p>Технічний партнер</p><a href="http://sint.if.ua">sint.if.ua</a>')
          img(src="/assets/companies/sint.jpg", data-hover="/assets/companies/sint-hover.jpg")

    li
    li
    li
    li
    li
    li
      .content.add
        a.sign-as-company(href="#step2c", title='приєднатися')
          img(src="/assets/companies/add.png")
  .progress
    .desc 14/50
    .progress-bar
      .filled(data-width='232')


  .socials
    a(href="https://twitter.com/WarmCityIF")
      img(src="/assets/twitter-small.png")
      | twitter
    a.facebook(href="https://www.facebook.com/warmifua")
      img(src="/assets/facebook-small.png")
      | facebook
  .triangle
