.overlay.video-overlay
  .center
    iframe#player(src="//player.vimeo.com/video/94954902?title=0&byline=0&portrait=0&api=1&player_id=player" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true")
  .close

.overlay.dialog-overlay.white
  .center
    .steps.step1#step1
      .title
        p Обирай форму допомоги нам
        .line
      .left
        img.lamp(src="/assets/lamp.png", alt="lamp")
        h5
          | прогресивна компанія
          span.help(title='"Тепле місто" об’єднує людей і бізнеси, які підтримують ідеї та дії щодо сталого розвитку Івано-Франківська. Якщо ваша компанія є саме такою, ми пропонуємо два варіанти співпраці: <ul><li>Стати бізнес-партнером</li><li>Надати одноразову допомогу</li></ul>')
        a.dialog-button.as-company(href="#step2c") підтримати
      .right
        img.transformer(src="/assets/transformer.png", alt="transformer")
        h5
          | прогресивна людина
          span.help(title='Ви - небайдужа, сучасна, проактивна людина? Ви любите це місто і хочете, аби воно стало ще кращим? Оберіть, що вам ближче:<ul><li>Стати членом ГО "Тепле місто"</li><li>Надати доброчинну допомогу</li><li>Придбати продукцію у стилі Івано-Франківська</li></ul>')
        a.dialog-button.as-human(href="#step2") підтримати
    .steps.step2#step2
      .title
        p допомогти
        .line
      .block.first.money
        img.diamond(src="/assets/diamond.png", alt="diamond")
        h5
          | Фондуй
          span.help(title='Ви поділяєте наші цінності і прагнете зробити Франківськ прогресивним сучасним містом? Тоді пропонуємо вам надати підтримку "Теплому місту", зробивши доброчинний внесок у зручний для вас спосіб. Ця можливість відкрита як для окремих людей, так і для цілих організацій. <ul> <li>Онлайн-платіж з банківської картки (coming soon)</li> <li>Переказ на розрахунковий рахунок</li></ul>')
        p Ви поділяєте наші цінності і прагнете зробити Франківськ прогресивним сучасним містом? Тоді пропонуємо вам надати підтримку "Теплому місту", зробивши доброчинний внесок у зручний для вас спосіб
        a.dialog-button.give-money(href="#money-help") підтримати
      .block.second.member
        img.super(src="/assets/super.png", alt="super")
        h5
          | Стань учасником
          span.help(title='Долучайтесь до "Теплого міста", вступивши в громадську організацію. Отримайте можливість впливати на діяльність організації, пропонувати свої проекти, брати участь в загальних зборах, і відчувати особисту приналежність до прогресивних змін у нашому місті та Україні.<br/>Для членства в ГО "Тепле місто":<ul><li>Заповніть анкету, паперову або електронну</li><li>Сплатіть річний членський внесок в сумі 120 грн.</li></ul>Після цього ми підтвердимо ваше членство в ГО "Тепле місто" і розповімо про подальші події та можливості.')
        p Долучайтесь до "Теплого міста". вступивши в громадську організацію. Отримайте можливість впливати на діяльність організації, пропонувати свої проекти, брати участь в загальних зборах
        a.dialog-button.become-member(href="#form-people") долучитись
      .block.last.online-store.disabled
        h5 online store
        p Придбати продукцію з логотипом Івано-Франківська
        a.dialog-button(href="") coming soon
    .steps.step2c#step2c
      .title
        p допомоги нам як компанія
        .line
      .block.first.bp
        img.diamond(src="/assets/diamond.png", alt="diamond")
        h5
          | Стати бізнес партнером
          span.help(title='Підтримуючи прогресивний розвиток Івано-Франківська як бізнес-партнер, ви отримуєте:<ul><li>Участь в "ТОП-50 прогресивних  компаній Івано-Франківська" (кількість місць обмежена)</li> <li>Висвітлення на інформаційних ресурсах "Теплого міста"</li> <li>Присутність логотипу компанії в прес-релізах і на прес-конференціях, періодичне висвітлення в ЗМІ та на промо-матеріалах</li> <li>Запрошення на події, що організовує "Тепле місто"</li> <li>Щомісячний  звіт про діяльність "Теплого міста" </li> <li>Запрошення на щорічні урочисті збори "Теплого міста" </li> </ul>')
        p Бізнес-партнер — це компанія, що системно сприяє "Теплому місту", здійснюючи фінансову підтримку або надаючи пакет професійних послуг.
        a.dialog-button.become-business-partner(href="#form-business") долучитись
      .block.second.mnh
        img.super(src="/assets/super.png", alt="super")
        h5
          | Надати доброчинну допомогу
          span.help(title='Ви поділяєте наші цінності і прагнете зробити Івано-Франківськ прогресивним сучасним містом? Тоді підтримайте "Тепле місто", зробивши доброчинний внесок у зручний для вас спосіб. Ця можливість відкрита як для окремих людей, так і для організацій. <ul> <li>Онлайн-платіж з банківської картки (coming soon)</li> <li>Переказ на розрахунковий рахунок</li></ul>')
        p Підтримайте "Тепле місто", зробивши доброчинний внесок у зручний для вас спосіб.
        a.dialog-button.give-money(href="#money-help") підтримати

    .steps.success-step#success-step
        img.success(src="/assets/success.png", alt="success")
        h5 Дякуємо! Вашу заявку прийнято
        p очікуйте лист відповідь на пошту
        a.close-link(href="#") закрити
    .steps.form-business#form-business
      .title
        p Стати бізнес-партнером
        .line
      form.business(action="")
        span Для обговорення деталей просимо заповнити коротку анкету, і наш менеджер Ірина зв'яжеться з вами найближчим часом <br>Контакт: Ірина Стецевич, тел. 066 856 27 15, iryna.s@warm.if.ua
        input.required(name="name", placeholder="Назва організації", required="true")
        input(name="site", placeholder="Сайт")
        input.required(name="contact-person", placeholder="Контактна особа", required="true")
        input.required(name="phone", placeholder="Телефон", required="true")
        input(name="email", placeholder="Email")
        textarea(name="comment", placeholder="Коментар")
        span
          img(src="/assets/required.png", alt="required")
          | &mdash; поля обов’язкові для заповнення
        input.dialog-button.submit(type="submit", value="відправити")
    .steps.form-people#form-people
      .title
        p Стати членом ГО "Тепле місто"
        .line
      form.people(action="")
        span Для членства в ГО "Тепле місто" заповніть анкету, паперову або електронну та сплатіть річний членський внесок в сумі 120 грн. Після цього ми підтвердимо ваше членство в ГО "Тепле місто" і розповімо про подальші події та можливості.
        input.required(name="name", placeholder="Ім'я, прізвище", required="true")
        input(name="address", placeholder="Адреса проживання")
        input.required(name="phone", placeholder="Телефон", required="true")
        input(name="email", placeholder="Email")
        input(name="facebook", placeholder="Facebook")
        textarea(name="comment", placeholder="Коментар")
        span
          img(src="/assets/required.png", alt="required")
          | &mdash; поля обов’язкові для заповнення
        input.dialog-button.submit(type="submit", value="відправити")
    .steps.money-help#money-help
      .title
        p Надати доброчинну допомогу
        .line
      .block.left.rax
        h5 Переказ на розрахунковий рахунок
        ul
          li
            span Отримувач платежу:
            b Благодійний фонд "Тепле місто"
          li
            span Код ЄДРПОУ:
            b 39377102
          li
            span Рахунок:
            b 260025 3039 0500
          li
            span Назва банку:
            b ПАТ "УкрСиббанк"
          li
            span МФО:
            b 351005
          li
            span Призначення платежу:
            b "Благодійний внесок"
      .block.right.disabled
        h5 Онлайн-платіж з банківської карти картки
        a.dialog-button.submit(href="") оплатити
  .back
  .close
